{% load registrasion_tags %}
{% load lca2018_tags %}

<h2>Tax Invoice/Statement</h2>
<h3>Linux Australia</h3>
<h4>GST #90-792-369</h4>

<p>
  Enquiries: please e-mail <a href="mailto:contact@lca2019.org">contact@lca2019.org</a>
</p>

<ul class="list-unstyled">
  <li><strong>Invoice number:</strong> {{ invoice.id }}
  <li><strong>Invoice status:</strong> {{ invoice.get_status_display }}</li>
  <li><strong>Issue date:</strong> {{ invoice.issue_time|date:"DATE_FORMAT" }}
  {% if not invoice.is_void %}
    <li><strong>Due:</strong> {{ invoice.due_time|date:"DATETIME_FORMAT"}}</li>
  {% endif %}
</ul>

<div>
<h4>Attention:</h4>
  {{ invoice.recipient|linebreaksbr}}
</div>

<p>This invoice has been issued as a result of an application to attend {% conference_name %}. All amounts are in New Zealand Dollars (NZD).</p>

<table class="table table-striped my-4">
  <thead>
    <tr>
      <th>Description</th>
      <th class="text-right">Quantity</th>
      <th class="text-right">Price/Unit</th>
      <th class="text-right">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for line_item in invoice.lineitem_set.all %}
      <tr>
        <td>{{ line_item.description }}</td>
        <td class="text-right">{{ line_item.quantity }}</td>
        <td class="text-right">${{ line_item.price }}</td>
        <td class="text-right">${{ line_item.total_price }}</td>
      </tr>
    {% endfor %}

    <tr><th colspan="4"></th></tr>

    <tr>
      <th colspan="3">Includes 15% New Zealand Goods and Services Tax</th>
      <td class="text-right">${{ invoice.value|gst}}</td>
    </tr>

    <tr>
      <th colspan="3">Total</th>
      <td class="text-right">${{ invoice.value }}</td>
    </tr>

    <tr><th colspan="4"></th></tr>

    <tr>
      <th colspan="3">Total payments received:</th>
      <td class="text-right">${{ invoice.total_payments }}</td>
    </tr>
    {% if invoice.is_unpaid or invoice.is_paid %}
      <tr>
        <th colspan="3">Balance due:</th>
        <td class="text-right">${{ invoice.balance_due }}</td>
      </tr>
    {% endif %}
  </tbody>
</table>

{% if invoice.paymentbase_set.all %}
  <div class="page-break"></div>
  <h3 class="pt-4">Payments received</h3>
  {% include "registrasion/payment_list.html" with payments=invoice.paymentbase_set.all %}
{% endif %}


<hr />

<p>{% conference_name %} is a project of Linux Australia, Inc.</p>

<p>
  GPO Box 4788 <br />
  Sydney NSW 2001 <br />
  Australia <br />
  ABN 56 987 117 479 <br />
  NZ GST #90-792-369
<p>
