{% extends "registrasion/base.html" %}
{% load bootstrap %}
{% load registrasion_tags %}
{% block proposals_body %}

<h2>Credit Note</h2>

{% with note_user=credit_note.invoice.user %}
  <ul>
    <li><strong>Number:</strong> {{ credit_note.id }}
    <li><strong>Attention:</strong> {{ credit_note.invoice.recipient }}</li>
    <li><strong>User:</strong> {{ credit_note.invoice.user.email }} ({{ credit_note.invoice.user.id}})</li>
    <li><strong>Value:</strong> {{ credit_note.value }}</li>
    <li><strong>Status:</strong> {{ credit_note.status }}</li>
  </ul>
{% endwith %}

<p>This credit note was generated from funds excess from invoice {{ credit_note.invoice.id }}.</p>

{% if credit_note.is_unclaimed %}
  <form class="form-horizontal" method="post" action="" novalidate>
    {% csrf_token %}
    <h3>Apply to invoice</h3>
    <p>You can apply this credit note to an unpaid invoice.</p>

    <p><strong>This credit note belongs to:</strong> {{ credit_note.invoice.user.email }} ({{ credit_note.invoice.user.id}}). You can apply this credit note to any user's invoice.</p>

      {{ apply_form|bootstrap }}
      <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="Apply to invoice" />
      </div>
    <h3>Generate cancellation fee</h3>
    <p>You can generate an invoice for a cancellation fee, resulting in an invoice
      and a new credit note.
    </p>

      {{ cancellation_fee_form|bootstrap }}
      <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="Generate fee" />
      </div>

    <h3>Stripe Refund</h3>

    <p><a href="{% url 'registripe_refund' credit_note.id %}">View Stripe refund options</a></p>

    <h3>Manual refund</h3>
    <p>You can mark this credit note as refunded, and handle the refund manually.
    </p>

      {{ refund_form|bootstrap }}
      <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="Mark as refunded" />
      </div>
  </form>
{% endif %}

{% endblock %}
