{% extends "registrasion/base.html" %}
{% load lca2018_tags %}



{% block scripts_extra %}
{{ form.media.js }}
<script type="text/javascript">
    postcode_label = $("label[for='id_profile-state']");
    postcode_help = $("#id_profile-state + p");
      $('#id_profile-country').change(function () {
        if ($(this).val() == 'AU' )  {
          postcode_label.addClass('label-required');
          postcode_help.show();
        } else {
          postcode_label.removeClass('label-required');
          postcode_help.hide();
        } });
        $("#id_profile-country").change();

      </script>
{% endblock %}

{% block proposals_body %}
  <h1>Your Profile</h1>
  <p>These details will appear on your badge, your invoices, and will be used to order catered food at the conference.</p>

  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <fieldset>
      {% include "_form_snippet.html" with form=form %}
      <br />
      <input class="btn btn-primary" type="submit" value="Save Profile" />
      {% if user.attendee %}
      <a class="btn btn-light" href="{% url "dashboard" %}">Cancel</a>
      {% endif %}
    </fieldset>
  </form>
{% endblock %}
