{% load i18n %}

{% if proposal.result.status == "accepted" %}
  <div class="card card-success border-primary mx-4 my-4">
{% elif proposal.result.status == "rejected" %}
  <div class="card card-danger border-primary mx-4 my-4">
{% elif proposal.result.status == "standby" %}
  <div class="card card-warning border-primary mx-4 my-4">
{% else %}
  <div class="card card-primary border-primary mx-4 my-4">
{% endif %}
  <div class="card-body">
      <h4 class="card-title text-primary">{{ proposal.title }}</h4>
	  <div class="card-text">
	      <p>
		  <small>{{ proposal.kind.name }}</small>
		  {% if proposal.cancelled %}
		      <small class="badge  badge-pill float-right badge-danger">Cancelled</small>
		  {% else %}
		      {% if request.user == proposal.speaker.user %}
			  {% if proposal.result.status == "accepted" %}
			      <small class="badge badge-pill float-right badge-success">Accepted</small>
			  {% else %}
			      <small class="badge  badge-pill float-right badge-default">Submitted</small>
			  {% endif %}
		      {% else %}
			  <small class="badge  badge-pill float-right badge-default">Invited</small>
		      {% endif %}
		  {% endif %}
	      </p>
	      <p>{{ proposal.abstract|truncatewords:40 }}</p>
	  </div>
  </div>
  <div class="card-footer bg-primary">
      <a href="{% url "proposal_detail" proposal.pk %}">View Details</a><br />
      {% if not proposal.cancelled %}
	  <a href="{% url "proposal_pending_join" proposal.id %}">Accept Invitation</a><br />
	  <a href="{% url "proposal_pending_decline" proposal.id %}">Decline Invitation</a>
      {% endif %}
  </div>
  </div>
