@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

$primary: #0F7C11;
$secondary: #FFFFFF;

$font-family-base: "Space Mono" !default;
$headings-font-family: "Space Mono";

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4.75;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.875;

$line-height-base: 1.6875;
$headings-line-height: 1.05;

$padding-left-default: 5.3125rem;

body {
    overflow-x: hidden;
}


.text-page {
    h2 {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    h1 {
        padding-bottom: 6rem;
    }
}

.text-upper {
    text-transform: uppercase;
}


.navbar-toggler {
    border: 0 !important;

    &.green-toggler {
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(15,124,17, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }

    &.white-toggler {
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
}


html {
    font-size: 16px;
}

@import "open-iconic-bootstrap.scss";
@import "nav.scss";
@import "bootstrap.scss";

h1 {
    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }
}

.navbar-brand {
    @include media-breakpoint-up(md) {
        width: 200px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
    img {

        padding-left: $padding-left-default / 3;
    }
}

footer {
    margin-top: 12rem;
    padding-left: $padding-left-default / 3 !important;
    color: $primary;
    font-size: 0.81rem;

    @include media-breakpoint-up(md) {
        padding-left: $padding-left-default !important;
    }
}

#hero {
    width: 100%;
}

.green-block {
    margin-top: 16rem;
    margin-bottom: 8rem;
    padding-top: 24rem;
}

li.nav-item {
    min-height: 2.75rem;

    &.active > a.nav-link {
        font-weight: 700;

        &:before {
            content: "•";
            margin-right: -4px;
        }
    }
}

main.container-fluid {
    padding: 0;
}

@include media-breakpoint-up(xl) {
    .container{
        max-width: 80%;
    }
}



.content {
    padding-bottom: 1rem;
    padding-left: $padding-left-default / 3 !important;
    padding-right: $padding-left-default / 3 !important;

    @include media-breakpoint-up(md) {
        padding-left: $padding-left-default !important;
        padding-right: 5.3125rem !important;
    }
}

.homepage-venue {
    padding-bottom: 0px;
    margin-bottom: 0px;

    @include media-breakpoint-up(sm) {
        text-align: right;

        h2 {
            float: left;
        }
    }
}

.sidescroll-container {
    overflow-y: hidden;
}

.sidebar-wrapper {
    display: flex;
}

.content-grow {
    flex-grow: 1 1 auto;
}

.sidebar {
    .card {
        display: none;
    }

    &.active {
       .card {
            display: block;
       }
    }
}

.collapser {
    cursor: pointer;
}


.sidescroll {
    margin-bottom: -30px;
    padding-bottom: 30px;
    background: linear-gradient(0deg, $primary 50%, $secondary 50%) !important;

    @include media-breakpoint-up(md) {
        padding-left: $padding-left-default !important;
    }

    display: flex;
    flex-wrap: nowrap;
    cursor: grab;

    div ~ div {
        margin-left: 15px;
    }

    div {
        min-width: 30%;

        @include media-breakpoint-down(sm) {
            min-width: 80%;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

#map {
    width: 100%;
    height: 480px;
    filter: grayscale(100%);
}

.btn-lg {
    padding: 0.8rem 4.5rem;
    font-size: 1rem;
    line-height: 1.5;
}

.btn {
    padding: 0.4rem 2.25rem;
    font-size: 1rem;
    border-radius: 0;
    text-transform: uppercase;
}

.jumbotron {
    border-radius: 0;
    background-color: rgba(204, 213, 197, 0.1);
    border: 1px $primary solid;
    color: $primary;
    padding: 5rem 6rem ;

    .text-info {
        color: $primary !important;
    }
}

.col-form-label, .form-check-label {
    font-weight: bold;
}

.form-text.text-muted {
    color: $primary !important;
    margin-bottom: 1rem;
}

fieldset {
    blockquote {
        font-size: 80%;
    }
}

.form-control {
    border-radius: 0;
    border: 2px $primary solid;

    &:focus {
        border: 2px $primary solid;
    }
}

label.form-check-label {
    display: flex;
    align-items: center
}

h3 {
    text-transform: uppercase;
}


main {
    a {
        color: #f5843e;
        font-weight: 600;

        &.tip {
            color: $primary;
        }
    }
}

.card {
    min-width: 20rem;
}

ul.messagelist {
    margin-bottom: 0;
}

label.list-label {
    font-weight: bold;
}

.nav-pills>.nav-item {
    background-color: #f3f3f3;

    a {
        color: $primary;
    }
}

nav.navbar {
    margin-bottom: 0;
}

a.a-img {
    &:hover {
        text-decoration: none;
    }
}

// Abstracts
.abstract, .bio, .monospace-text {
    white-space: pre-wrap;
}


.table-striped tbody tr {
    background-color: rgba(204, 213, 197, 0.2);

    &:nth-of-type(2n+1) {
        background-color: #FFFFFF;
    }
}

.table {
    border-top: none;

    th, td {
        padding: 1.25rem 0.75rem;
    }
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid $primary;
    border-top: 0;
}

.table th.bordered {
    border-bottom: 1px solid $primary;
    border-top: 0;
}

.ticket-page hr {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

hr {
    height: 1px;
    border: none;
    background-color: #CCD5C5;
}

.calendar.table {
    height: 1px;

    tr.calendar-row {
        height: 120px;

        td.time {
            width: 85px;
        }

        td.time > p {
            font-size: 1.25rem;
            text-transform: lowercase;
        }

        td.slot {
            height: 100%;
            padding: 0.5rem;

            div {
                background-color: rgba(15, 124, 17, 0.05);
                border-radius: 1rem;
                padding: 1rem;
                height: 100%;

                &.center-flex {
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    td {
        border-top: 2px solid #CCD5C5;
        width: 1/7%;
    }

    th {
        border-top: none;
        border-bottom: 2px solid #CCD5C5;
        width: 1/7%;
    }
}

.schedule-header, .sponsor-header {
    h1 {
        text-transform: uppercase;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    h3 {
        margin-bottom: 3rem;
        text-transform: none;
    }
}

.nav.schedule-nav {
    display: block;
    width: 100%;

    a {
        display: inline-block;

        &.active {
            color: $secondary;
        }
    }
}

.footer-no-margin {
    margin-top: 0 !important;
}

#schedule-date {
    text-transform: capitalize;
}

@media print
{
    .bg-primary {
        background-color: #fff !important;
    }

    nav, h1 {
        display: none;
    }

    .schedule-header h3 {
        margin-bottom: 0.5rem !important;
        margin-top: 1rem !important;
        color: black;
    }

    .calendar.table {
        font-size: 8pt;
        padding: 0;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 100%;
        color: black;

        a {
            color: black;
            text-decoration: none;
        }

        tr.calendar-row {
            height: initial;

            td.time > p {
                text-transform: lowercase;
                font-size: initial;
                padding: initial;
            }

            td.slot {
                height: initial;

                div {
                    background-color: initial;
                    border-radius: initial;
                    padding: initial;
                    height: initial;

                    &.center-flex {
                        display: flex;
                        align-items: center;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }

        td {
            border-top: 1pt solid #BBB;
            width: 1/7%;
            padding: initial;

            &[rowspan="2"] {
                border-left: 1pt solid #bbb;
            }
        }

        th {
            border-top: none;
            border-bottom: 1pt solid #BBB;
            width: 1/7%;
        }
    }

    .hidden-print {
        display: none !important
    }

    .page-break {
        page-break-after: always;
    }

    .jumbotron {
        font-size: 8pt;
        padding: 0;
        background-color: white;
        border: none;
        color: #000;

        h3 {
            margin-top: 4rem;
        }

        h4 {
            margin-top: 2rem;
        }

        table {
            margin-top: 2rem;
            border: none !important;

            th, td {
                padding: 0.75rem 0;
                border: none;
            }

            thead th {
                border-bottom: 1px solid black;
            }

            th[colspan="4"] {
                display: none;

            }
        }
    }

    footer {
        display: none !important;
    }

    .schedule-page {
        .mobile-schedule {
            display: none !important;
        }

        @include media-breakpoint-down(lg) {
            .container {
                max-width: 100%;
            }
        }

        @include media-breakpoint-down(md) {
            .hidden-md-down {
                display: initial;
            }
        }

        @include media-breakpoint-up(lg) {
            .hidden-md-down {
                display: initial;
            }
        }
    }
}

.card-group.key-dates {
    .card {
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .card-footer {
        border: none;
        padding: 0;
    }
}

.accommodation {
    &.provider {
        margin-top: 4rem;
        margin-bottom: 4rem;

        p.info {
            margin-top: 0;
            font-style: italic;
        }

        p.book-now {
            text-transform: uppercase;
        }
    }
}


@media screen {
    .schedule-page {
        @include media-breakpoint-only(lg) {
            font-size: 0.8 * $font-size-base;
        }

        @include media-breakpoint-down(lg) {
            .container {
                max-width: 100%;
            }
        }

        @include media-breakpoint-down(md) {
            .hidden-md-down {
                display: none !important;
            }
        }

        @include media-breakpoint-up(lg) {
            .mobile-schedule {
                display: none !important;
            }
        }
    }
}

.card.card-green {
    border: 1px solid $primary;
    border-radius: 0;
    padding: 1rem;
    background-color: rgba(204,213,197,0.1);

    .card-footer {
        border-top: 0;
        background-color: initial;
    }
}

.subtitle {
    font-weight: 600;
    font-size: 1.5rem;
}

.sponsor-wrapper {
    height: 200px;

    img {
        height: 200px;
        position: relative;
        z-index: 11;
    }

    hr {
        color: #CCD5C5;
        position: relative;
        top: -100px;
        z-index: 10;
    }
}

div.sponsor-logos {
    img {
        height: 100px;
        max-height: 100px;
        margin: 50px;
    }
}

hr.green {
    border-color: $primary;
    background-color: $primary;
    color: $primary;
}

div.talk-abstract {
    @include media-breakpoint-up(lg) {
        border-left: 1px solid #0F7C11 !important;
    }
}

@include media-breakpoint-up(xl) {
    .schedule-wrapper {
        width: 80%;
        min-width: 1140px;
        max-width: 3000px;
    }
}

@include media-breakpoint-up(sm) {
    div.footer-center {
        text-align: center;
    }

    div.footer-right {
        text-align: right;
    }
}
