$navbar-dark-active-color: $secondary;
$navbar-dark-color: $secondary;

.navbar-nav-svg {
    display: inline-block;
    height: 1.4rem;
}

.navbar-nav-dark {
    display: inline-block;
    height: 1.4rem;
}


.navbar-brand > img {
    height: 2.75rem;
    padding-left: $padding-left-default;
    min-height: 101px;
    margin-top: 3rem;
}

nav.navbar {
    margin-bottom: 9rem;
}