/* Fonts from our style guide */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(../fonts/TitilliumWeb-Bold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    src: local('Titillium Web Black'), local('TitilliumWeb-Black'), url(../fonts/TitilliumWeb-Black.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Elements */

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h1 a {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    color: #005760;
}

h2,
h2 a {
    font-family: 'Titillium Web', sans-serif;
    color: #4E87A0;
}

h3,
h3 a {
    font-family: 'Titillium Web', sans-serif;
    color: #5BC2E7;
}

h4,
h4 a {
    font-family: 'Titillium Web', sans-serif;
    color: #DE7C00;
}

img.profile-pic {
	border-radius: 50%;
}

.label-required:after { content: ' *'; }
.abstract, .bio, .monospace-text {
    font-family: Hack, monospace;
    white-space: pre-wrap;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0;
    margin: 0;
}

ul.messagelist li {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: #333;
}

ul.messagelist li.warning {
    background: #ffc url(../img/icon-alert.svg) 40px 14px no-repeat;
    background-size: 14px auto;
}

ul.messagelist li.error {
    background: #ffefef url(../img/icon-no.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}

.errornote {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #ba2121;
    border: 1px solid #ba2121;
    border-radius: 4px;
    background-color: #fff;
    background-position: 5px 12px;
}

ul.errorlist {
    margin: 0 0 4px;
    padding: 0;
    color: #ba2121;
    background: #fff;
}

ul.errorlist li {
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
}

ul.errorlist li:first-child {
    margin-top: 0;
}

ul.errorlist li a {
    color: inherit;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0;
    padding: 0;
}

td ul.errorlist li {
    margin: 0;
}

.form-row.errors {
    margin: 0;
    border: none;
    border-bottom: 1px solid #eee;
    background: none;
}

.form-row.errors ul.errorlist li {
    padding-left: 0;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid #ba2121;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: #c11;
    background: #ffefef url(../img/icon-no.svg) 5px 5px no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/**
 * Stripe integration
 */
.StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 3px solid transparent;
    box-shadow: 1px 3px 5px 1px #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 1px 3px 5px 1px #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/* Schedule, proposal and presenter display */
/* Make sure twitter/link buttons get displayed */

.mw760, .room {
    display: none;
}
.speaker {
    display: block;
}
.endtime {
    font-style: italic;
}

.presenters .btn-group {
    display: inline-flex;
    margin-left: 10px;
}
.presenters .btn-svg { width: 20px; }

@media all and (max-width: 760px) {
    .mw760, .room {	display: block;  }
    .speaker { font-weight: bold; }
}

@media only screen and (max-width: 760px) {
	/* Force table to not be like tables anymore */
	table {
        display: table-row;
    }
    thead {
        display: none;
    }
    tbody, th, td, tr {
		display: block;
	}

    td {
	    /* Behave  like a "row" */
	    border: none;
	    position: relative;yes
	    padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}

/* Navbar */

.logo {
    padding-right: 32px;
}

.navbar {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
}

.navbar-lca .dropdown-menu {
    font-size: 16px;
    line-height: 24px;
}

.navbar-brand {
    height: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 16px;
}

.navbar-nav > li.dropdown {
    cursor: pointer;
}

.navbar-nav > li > a {
    color: #005760 !important;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    line-height: 24px;

    padding-top: 8px; /* Bootstrap 3 override */
    padding-bottom: 8px; /* Bootstrap 3 override */
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        padding-left: 0.5rem;
    }

    .navbar-nav > li > a {
        padding-top: 8px; /* Bootstrap 3 override */
        padding-bottom: 8px; /* Bootstrap 3 override */
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li {
        text-align: center;
    }

    .navbar-nav > li > a {
        width: 128px;
        -webkit-transform: skew(-45deg);
        -moz-transform: skew(-45deg);
        transform: skew(-45deg);

        padding-top: 8px; /* Bootstrap 3 override */
        padding-bottom: 8px; /* Bootstrap 3 override */
    }

    .navbar-nav > li > a > span {
        -webkit-transform: skew(45deg);
        -moz-transform: skew(45deg);
        transform: skew(45deg);
        display: inline-block;
    }

    .navbar-nav .dropdown-toggle::after {
        -webkit-transform: skew(45deg);
        -moz-transform: skew(45deg);
        transform: skew(45deg);
    }

    .navbar-nav .dropdown-menu {
        left: -20px;
        min-width: 128px;
    }
}

/* 4 different navbar styles to alternate through */
.navbar-nav > li:nth-child(4n+0) > a,
.navbar-nav > li:nth-child(4n+0) .dropdown-menu {
    background-color: #ECE81A;
}

.navbar-nav > li:nth-child(4n+1) > a,
.navbar-nav > li:nth-child(4n+1) .dropdown-menu {
    background-color: #DE7C00;
}

.navbar-nav > li:nth-child(4n+2) > a,
.navbar-nav > li:nth-child(4n+2) .dropdown-menu {
    background-color: #5BC2E7;
}

.navbar-nav > li:nth-child(4n+3) > a,
.navbar-nav > li:nth-child(4n+3) .dropdown-menu {
    background-color: #4E87A0;
    color: #e9e9e9 !important;
}

.navbar-nav > li:nth-child(4n+3) .dropdown-menu > a,
.navbar-nav > li:nth-child(4n+3) .dropdown-menu > li > a {
    color: #e9e9e9 !important;
}

/* nav menu highlight */
.navbar-nav > li:hover > a,
.navbar-nav > li.open > a,
.navbar-nav .dropdown-menu > a:hover,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #005760;
    color: #e9e9e9 !important;
}

.navbar-lca .navbar-toggle {
    border-color: #ddd;
}

.navbar-lca .navbar-toggle .icon-bar {
    background-color: #888;
}

#id_profile-name, #id_profile-free_text_1, #id_profile-free_text_2, #id_profile-company {
    filter: grayscale(100%);
}

#Abstracts
.abstract, .bio, .monospace-text {
    white-space: pre-wrap;
}
