{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}


{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1>Accommodation</h1>
    <p>
      There are many hotels offering rooms for a range of budgets in Christchurch. January is a busy period in NZ, which
      may lead to increased rates for those night.
    </p>
    <p>
      linux.conf.au 2019 has arranged discounted accommodation with some providers. These rooms are subject to availability
      and subject to change. Full details are available to delegates who have registered on our website.
    </p>
    <p>
      Any bookings are between you and the accommodation provider. linux.conf.au 2019 assumes no responsibility.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h2>Providers</h2>
    <div class="accommodation provider">
      <h4>University Halls</h4>
      <p class="info">900m &middot; 10min walk</p>
      <p>
        linux.conf.au 2019 delegates are offered the opportunity to stay in a hall of residence for the duration of the conference
        experiencing a fully-furnished single room in a modern accommodation setting that is walking distance to campus and
        accessible to public transport to and around the city, and just a short 10 minute drive from Christchurch International
        Airport.
      </p>
      <p>
        Bishop Julius Hall and College House are all available to delegates at a standard rate of NZ$65.00 per person per night
        for bed and breakfast. Allocation of hall will be at the discretion of the Halls but groups can be put together on request.
      </p>
      <p class="book-now">
        {% if request.user.is_authenticated and request.user.attendee %}
        <a href="https://www.canterbury.ac.nz/life/accommodation/halls/apply/lca2019" rel="noreferrer noopener">
          Book now / Discount
        </a>
        {% else %}
        Register to show discount code
        {% endif %}
      </p>
    </div>

    <div class="accommodation provider">
      <h4>Sonoda Village (Campus Living Villages)</h4>
      <p class="info">
        1.6km &middot; 20min walk
      </p>
      <p>
        A single bedroom in a 5 bedroom Apartment at Sonoda Village offers a great room for those who want to self cater and be close to the University.
        Sonoda is beautifully set surrounded by Japanese gardens and is very tranquil within walking distance to all University facilities.
      </p>
      <p>
        Guests have access to a fully equipped kitchen and dining/living area in their apartment and share a bathroom/toilet. Bedding, linen
        and towels are provided along with a desk, basin, WiFi and more.
      </p>
      <p>
        Continental breakfast is included when using the booking code.
      </p>
      <p class="book-now">
        {% if request.user.is_authenticated and request.user.attendee %}
        <strong>Use code LINUX2019 when booking.</strong>
        <a href="https://app-apac.thebookingbutton.com/properties/campuslivingDirect?check_in_date=20-01-2019&check_out_date=26-01-2019&number_adults=2" rel="noreferrer noopener">
          Book now
        </a>
        {% else %}
        Register to show booking code
        {% endif %}
      </p>
    </div>

    <div class="accommodation provider">
      <h4>Ashley Hotel</h4>
      <p class="info">
        2.7km &middot; 35min walk<br />
        <a href="http://www.williamshotels.co.nz/hotels/ashley-christchurch" rel="noreferrer noopener">Website</a>
      </p>
      <p>
        The Ashley Hotel Christchurch is a newly refurbished, 45-room hotel that delivers a charming, relaxed, and convenient
        accommodation experience. The Ashley Hotel is located in Riccarton, within walking distance of Hagley Park, shopping
        malls, dozens of restaurants and cafés, Christchurch Hospital, the train station, and plenty of other Christchurch
        attractions.
      </p>
      <p>
        The hotel offers several different Christchurch hotel room types, perfect whether you are visiting for business,
        holiday, or as part of a group. For your convenience, The Ashley Hotel in Christchurch also has disabled facilities.
      </p>
    </div>

    <div class="accommodation provider">
      <h4>Chateau on the Park</h4>
      <p class="info">
        2.9km &middot; 35min walk<br />
        <a href="http://doubletree3.hilton.com/en/hotels/new-zealand/chateau-on-the-park-christchurch-a-doubletree-by-hilton-CHCNZDI/index.html" rel="noreferrer noopener">
          Website
        </a>
      </p>
      <p>
        Chateau on the Park - Christchurch, a DoubleTree by Hilton hotel is designed to provide a tranquil, resort-like stay.
        The 5-acre property – boasting a moat, a vineyard and a beautiful rose garden – makes the Christchurch, New Zealand
        hotel feel secluded, but it is only 2.9km from the city. From this hotel, you’ll be able to walk to Christchurch
        Gardens, Hagley Golf Club and the western business district. Riccarton Westfield and the University of Canterbury also are
        nearby.
      </p>
      <p class="book-now">
        {% if request.user.is_authenticated and request.user.attendee %}
        <a href="http://doubletree.hilton.com/en/dt/groups/personalized/C/CHCNZDI-GCEHL-20180820/index.jhtml" rel="noreferrer noopener">
          Book now / Discount
        </a>
        {% else %}
        Register to show discount code
        {% endif %}
      </p>
    </div>

    <div class="accommodation provider">
      <h4>Ibis</h4>
      <p class="info">
        5km &middot; 60min walk<br />
        <a href="https://www.accorhotels.com/gb/hotel-5983-ibis-christchurch/index.shtml" rel="noreferrer noopener">Website</a>
      </p>
      <p>
        Located directly opposite to the new BNZ shopping precinct and walking distance to The Terrace - hospitality precinct, with
        laneways and courtyards brimming with designer retail and delicious food, Ibis Christchurch is surrounded by all the vibrancy
        of the refreshed centre city. The Ibis features 155 contemporary rooms, open Restaurant & Bar.
      </p>
      <p>
        Centrally located in the heart of Christchurch, ibis Christchurch is the ideal base for holidaymakers looking to explore New
        Zealand's iconic 'Garden City' on foot. Take a short stroll to the beautiful Botanic Gardens, the new BNZ shopping precinct or
        explore rich culture at Canterbury Museum. Just 20-minutes from Christchurch Airport, it's an easy drive to local attractions.
      </p>
      <p class="book-now">
        {% if request.user.is_authenticated and request.user.attendee %}
        <a href="https://accorconferences.co.nz/custom-offers/linux-lca-conference-2019" rel="noreferrer noopener">
          Book now / Discount
        </a>
        {% else %}
        Register to show discount code
        {% endif %}
      </p>
    </div>

    <div class="accommodation provider">
      <h4>Novotel</h4>
      <p class="info">
        5km &middot; 60min walk<br />
        <a href="https://www.accorhotels.com/gb/hotel-6592-novotel-christchurch-cathedral-square/index.shtml" rel="noreferrer noopener">Website</a>
      </p>
      <p>
        Make yourself at home at city-centre hotel Novotel Christchurch Cathedral Square. Your bright, modern room gives you the space
        you need to work or relax - executive rooms have stunning views of the Southern Alps. With a stylish restaurant offering
        buffet breakfasts and à la carte meals, you can enjoy fresh local produce at Novotel.
      </p>
      <p>
        Just 20-minutes from the airport and centrally located adjacent to the iconic inner-city square, Novotel Christchurch
        Cathedral Square is an ideal base for those visiting New Zealand's 'Garden City' for business or pleasure. You'll be within
        easy walking distance of many of the city's local attractions, including the Botanic Gardens, Re:START Mall, and casino. Take
        a stroll from your hotel to find fine dining options, or to take in a show at the Isaac Theatre Royal.
      </p>
      <p class="book-now">
        {% if request.user.is_authenticated and request.user.attendee %}
        <a href="https://accorconferences.co.nz/custom-offers/linux-lca-conference-2019" rel="noreferrer noopener">
          Book now / Discount
        </a>
        {% else %}
        Register to show discount code
        {% endif %}
      </p>
    </div>

    <div class="accommodation provider">
      <h4>Quality Hotel Elms</h4>
      <p class="info">
        4.5km &middot; 25min bus<br />
        <a href="https://www.qualityhotelelms.co.nz/" rel="noreferrer noopener">Website</a>
      </p>
      <p>
        A centrally located, warmly inviting and remarkably affordable hotel just minutes from the Christchurch CBD and the airport.
        The Quality Hotel Elms is the perfect choice of hotel for business and leisure travellers alike seeking to be at the heart of
        it all without breaking the budget.
      </p>
      <p>
        Enjoy a range of amenities and services during your stay, including newly renovated guest rooms, 24-hour dining and front desk
        service, free airport shuttle service (Request basis 9am to 6pm), award-winning cuisine at Fig Restaurant, 4 x meeting and
        event venues, plenty of free, off-street parking and an exceptionally friendly, multilingual staff.
      </p>
      <p class="book-now">
        {% if request.user.is_authenticated and request.user.attendee %}
        <a href="https://www.choicehotels.com/reservations/groups/WY68U" rel="noreferrer noopener">
          Book now / Discount
        </a>
        {% else %}
        Register to show discount code
        {% endif %}
      </p>
    </div>

    <div class="accommodation provider">
      <h4>Parkview on Hagley</h4>
      <p class="info">
        3.1km &middot; 40min walk<br />
        <a href="https://www.hotelparkview.co.nz/" rel="noreferrer noopener">
          Website
        </a>
      </p>
      <p>
        Offering luxurious studio hotel suite accommodation, Hotel Parkview on Hagley is ideally located close to Christchurch's
        beautiful Hagley Park. The 40 hotel suites have views over the park, with many of the suites having private balconies.
        You can enjoy the ever-changing outlook of daffodils and blossoms in springtime, glorious colours in autumn, and lush
        greenery in summer. Some suites have balconies that look out across the city to the magnificent Southern Alps.
      </p>
      <p>
        The self-contained suites can sleep up to 4 people. In addition, 12 units are inter-connecting, including access units,
        making them ideal for families or larger groups. Relax and enjoy a Continental or Cooked Breakfast, delivered to your room.
      </p>
    </div>

    <h2>More options</h2>
    <p>Most motels on Riccarton road are within 10-30 minutes walking distance: <a href="https://www.google.co.nz/maps/search/motel/@-43.5275159,172.5837422,16z/data=!4m5!2m4!5m3!5m2!1s2019-01-21!2i4" target="_blank" rel="noreferrer noopener">Google Maps</a>.</p>
  </div>
</div>

{{ context }}
{% endblock %}