{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}


{% block content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10 content text-page">
        <h1>Business Case</h1>
        <p>
          If you have an understanding boss who appreciates the value of gaining motivation, meeting inspiring people and learning more in a week than normal for a couple of months and doesn't need it explained, congratulations!
          On the other hand though, if you have a boss who requires a bit of assistance in this area then hopefully this can help by being a starting point!</p>
        <p>Here's a few paragraphs to get you started on getting approval from the powers that be.</p>
        <h2 id="key-information">Key information</h2>
        <p>Dates: Monday 21 - Friday 25 January 2019</p>
        <p>Venue: University of Canterbury, Christchurch, New Zealand</p>
        <p>Tickets: Details on pricing can be found at <a href="/tickets">https://linux.conf.au/attend/tickets/</a>.</p>
        <h2 id="sample-words-for-cost-justification">Sample words for cost justification</h2>
        <p>linux.conf.au is one of the world's longest-established conferences about Linux and Free and Open Source Software.</p>
        <p>linux.conf.au hosts over 80 talks from diverse presenters who are highly regarded in the Free and Open Source Software (FOSS) community.
        Presentations include highly technical looks at security to architecture to open hardware, as well as strategic talks on community engagement, diversity promotion, legal and ethical management; in many cases, presenters are key developers and shapers of the projects featured in their presentations.</p>
        <p>In addition to the talks there are 8 tutorial sessions available that are presented by experienced trainers offering a practical understanding of a broad range of topics in Free and Open Source Software.</p>
        <p>For 2019 our theme is "Linux of Things", which is our creative way of referring to the Internet of Things (IoT). While we have a lots of neat talks on this theme it's not limited to this. You'll find tutorials in software development, Linux kernel internals, DevOps, community management and more.</p>
        <p>Full details of our sessions are available online at <a href="/schedule">https://linux.conf.au/schedule/</a>.</p>
        <p>On the first 2 days of the conference there are 9 special interest tracks (Miniconfs) run that give attendees an opportunity to explore a topic in Free and Open Source Software in depth and build connections with others working in the area.
        Full details of miniconfs can be found at <a href="/programme/miniconfs">https://linux.conf.au/programme/miniconfs/</a>.</p>
        <h2 id="what-does-my-organisation-gain">What does my organisation gain?</h2>
        <p>Organisations who fund delegates can gain competitive advantage through:</p>
        <ul>
        <li>Ready access to the knowledge and experience of the Linux and FOSS community through networking and relationship building</li>
        <li>Greater awareness and understanding of both mature and emergent technologies, enhancing delegates' strategic impact for their parent organisation</li>
        <li>Greater awareness and understanding of issues affecting organisations and the Linux and FOSS community, such as enhancing diversity, patent and copyright legislation and communicating to different audiences</li>
        <li>Enhanced technical competence and capability through attending tutorial sessions</li>
        <li>Sending someone to linux.conf.au is also a great way to recognise and reward achievement against organisational objectives</li>
        </ul>
        <h2 id="tax-deduction">Tax deduction</h2>
        <p>If you would like a professional opinion on whether you're able to claim linux.conf.au and/or related expenses as a tax deduction, you will need to consult with your accountant.
        We can advise you however to ensure you retain all your receipts for tax purposes! Unfortunately, or fortunately, depending on how you choose to view the situation, we're not qualified accountants.
        This means we can't give you tax advice.</p>
    </div>
</div>
{% endblock %}

<section class="content">

</section>
