{% extends "site_base.html" %}
{% load static %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}

{% block content %}
<div class="row">
    <div class="col-12 content text-page">
        <h1 class="text-upper">Keynote Speakers</h1>
        <div class="card-deck">
        <div class="card card-green">
            <a href="/programme/keynotes/rory/">
                <img class="card-img-top" src="{% static '/assets/speakers/rory.jpg' %}" style="filter: grayscale(100%);" alt="Rory Aronson">
            </a>
            <div class="card-body">
                <a href="/programme/keynotes/rory/">
                    <h5><strong>Rory Aronson</strong></h5>
                </a>
            </div>
            <div class="card-footer">
                CEO | FarmBot Inc
            </div>
        </div>
        <div class="card card-green">
            <a href="/programme/keynotes/dana/">
                <img class="card-img-top" src="{% static '/assets/speakers/dana.jpg' %}" style="filter: grayscale(100%);" alt="Dana Lewis">
            </a>
            <div class="card-body">
                <a href="/programme/keynotes/dana/">
                    <h5><strong>Dana Lewis</strong></h5>
                </a>
            </div>
            <div class="card-footer">
                Co-founder | OpenAPS
            </div>
        </div>
    </div>
    <div class="card-deck mt-4">
        <div class="card card-green">
            <a href="/programme/keynotes/shannon/">
                <img class="card-img-top" src="{% static '/assets/speakers/snubs.jpg' %}" style="filter: grayscale(100%);" alt="Shannon Morse">
            </a>
            <div class="card-body">
                <a href="/programme/keynotes/shannon/">
                    <h5><strong>Shannon Morse</strong></h5>
                </a>
            </div>
            <div class="card-footer">
                Internet Media Host | Hak5 and TekThing
            </div>
        </div>
        <div class="card card-green">
            <a href="/programme/keynotes/rusty/">
                <img class="card-img-top" src="{% static '/assets/speakers/rusty.jpg' %}" style="filter: grayscale(100%);" alt="Rusty Russell">
            </a>
            <div class="card-body">
                <a href="/programme/keynotes/rusty/">
                    <h5><strong>Rusty Russell</strong></h5>
                </a>
            </div>
            <div class="card-footer">
                linux.conf.au creator | Jack of Many Trades
            </div>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock content %}
