{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}


{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1>Miniconfs</h1>
    <p>The first two days of linux.conf.au are made up of dedicated day-long streams focussing on single topics. They are organised and run by volunteers and are a great way to kick the week off.</p>
    <p>First introduced at linux.conf.au 2002, they are now a traditional element of the conference. They were originally intended as an incubator &mdash; both of future conferences and speakers.</p>
    <p>The schedule of talks at the miniconfs can be found in the <a href="/schedule/">Conference Schedule</a> once all Miniconf CfPs have closed.</p>
    <p>Although delegates who present at Miniconfs are not afforded speaker privileges at the main conference, speaking at a Miniconf is a great way to gain experience, provide exposure for your project or topic, and raise your professional profile.</p>

    <div class="card bg-primary text-white">
      <div class="card-body">
        <p class="card-text"><strong>Miniconf CfPs have closed. Please head over to our <a href="/schedule/">Conference Schedule</a> to find the schedule.</strong></p>
      </div>
    </div>

    <h2>Monday</h2>
    <div class="card-deck">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Open Hardware</h5>
          <p class="card-text">
            The Open Hardware Miniconf will ease software developers into dealing with hardware. Topics will cover both software and hardware issues, starting with simpler sessions suitable for Open Hardware beginners and progressing through to more advanced topics.
          </p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Sysadmin</h5>
          <p class="card-text">The Systems Administration Miniconf focuses on professional management of real-world Linux and open source environments, both large and small. The Miniconf aims to include a diverse range of tools and techniques that will help keep your entire environment functioning smoothly, and accomplish more with less effort.</p>
          <a href="http://sysadmin.miniconf.org/">More info</a>
        </div>
      </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Developer Developer</h5>
            <p class="card-text">The Developer Developer Miniconf is an outlet for the growing community of application developers who attend linux.conf.au to talk about how to do software development properly.</p>
            <a href="/programme/miniconfs/developer/">More info</a>
          </div>
        </div>
      </div>

      <h2>Tuesday</h2>
      <div class="card-deck">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Open Education</h5>
            <p class="card-text">
              A day on using open tools, open source and creative commons thinking in schools and other education environments. How open source hardware and software, open data and standards, can be a force for good change and really enable students' engagement with learning - reducing or removing gender, financial and other barriers.
            </p>
            <a href="/programme/miniconfs/opened/">More info</a>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Art & Tech</h5>
            <p class="card-text">This miniconf will explore the creative and expressive uses of technology to make things that are beautiful, interesting, surprising and sometimes even useful.</p>
            <a href="https://artandtech-miniconf.github.io/lca2019/">More info</a>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Kernel</h5>
            <p class="card-text">The Kernel Miniconf will focus on a variety of kernel-related topics - technical presentations on up-and-coming kernel developments, the future direction of the kernel, and kernel development community and process matters.</p>
            <a href="http://lca-kernel.ozlabs.org/2019-cfp.html">More info</a>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Security, Identity & Privacy</h5>
            <p class="card-text">While laws like the GDPR
              give us guidelines and recommendations on best practices for data collection and storage,
              you need look no further than the Security, Identity, and Privacy Miniconf to level
              up your skills with talks and practical advice from professionals and thought leaders.
            </p>
            <a href=" https://security-identity-privacy-miniconf.github.io/lca-2019/">More info</a>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Docs Down Under</h5>
            <p class="card-text">Docs Down Under is a technical communication-themed miniconference open to
              professionals of all kinds from across Australia. Topics on every aspect of
              technical communication are welcome, ranging from languages and tools to
              building communities and the state of the industry.</p>
              <a href="/programme/miniconfs/docs/">More info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}