{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}


{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1>Shirts</h1>
    <p>There are two options available for our linux.conf.au 2019 conference shirts.</p>

    <h2>Women's Silhouette Tee</h2>
    <p>Our women's option is the <a target="_blank" rel="noopener noreferrer" href="https://www.auroraclothing.co.nz/product/t201-silhouette-tee">Cloke Silhouette Tee</a>, all sizes below are shown in centimeters.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Size</th>
          <th>8</th>
          <th>10</th>
          <th>12</th>
          <th>14</th>
          <th>16</th>
          <th>18</th>
          <th>20</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Half Chest</th>
          <td>43</td>
          <td>46</td>
          <td>49</td>
          <td>52</td>
          <td>55</td>
          <td>58</td>
          <td>61</td>
        </tr>
        <tr>
          <th>Length</th>
          <td>65</td>
          <td>66</td>
          <td>67</td>
          <td>68</td>
          <td>69</td>
          <td>70</td>
          <td>71</td>
        </tr>
      </tbody>
    </table>

    <h2>Men's Outline Tee</h2>
    <p>Our men's option is the <a target="_blank" rel="noopener noreferrer" href="https://www.auroraclothing.co.nz/product/t101-outline-tee/">Cloke Outline Tee</a>, all sizes below are shown in centimeters.</p>

    <table class="table">
        <thead>
          <tr>
            <th>Size</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>XXL</th>
            <th>3XL</th>
            <th>4XL</th>
            <th>5XL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Half Chest</th>
            <td>48</td>
            <td>52</td>
            <td>56</td>
            <td>60</td>
            <td>64</td>
            <td>68</td>
            <td>na</td>
            <td>76</td>
          </tr>
          <tr>
            <th>Length</th>
            <td>72</td>
            <td>75</td>
            <td>78</td>
            <td>81</td>
            <td>84</td>
            <td>87</td>
            <td>na</td>
            <td>93</td>
          </tr>
        </tbody>
      </table>

      <h2>Children's</h2>
      <p>Availability of children's sizes will be announced at a later date.</p>
  </div>
</div>
{% endblock %}