{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}

{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1>Sponsorship</h1>

    <h2>How to sponsor</h2>
    <p>Contact <a href="mailto:sponsors@lca2019.org">sponsors@lca2019.org</a> for more information and a copy of our prospectus.</p>

    <h2>Why Sponsor</h2>
    <p>Widely recognised as one of the world's best conferences on free and open source technologies, linux.conf.au in 2019 will be home to over 800 delegates, more than half of whom register and identify as Professional Delegates. Conference delegates travel from all over the world for a week of high quality technical talks and networking with their peers.</p>
    <p>Sponsors of linux.conf.au have a unique opportunity to promote their brand to a large number of influential industry professionals. Sponsorship of the conference can lead to many talented thought leaders associating your company and brand with something that they are passionate about.</p>
    <p>If you care about reaching talented people or want to create a positive impression to a core talent pool with your brand, then sponsorship of conferences like LCA can be of great benefit. To discuss the sponsorship packages and opportunities, please contact linux.conf.au 2019's Sponsorship Team at 
      <a href="mailto:sponsors@lca2019.org">sponsors@lca2019.org</a>.</p>

    <h3>Sponsor Early</h3>
    <p>Agreeing to sponsor linux.conf.au 2019 early is important. The earlier you sign a sponsorship agreement, and we have a purchase order completed, the more time we can spend promoting your sponsorship.</p>
    <p>All sponsors will be mentioned in relevant press releases (for example the Speaker's Travel sponsor will be mentioned in the programme announcement press release) and thanked on Twitter from 
        <a href="https://twitter.com/linuxconfau">@linuxconfau</a>, which has a reach of over 2000 followers. Emperor Penguin sponsors will have a press release issued announcing their sponsorship in partnership with the sponsor.</p>

    <h2>Sponsorship Packages</h2>
    <h3>Emperor Penguin</h3>
    <p>Emperor Penguin Sponsor is our highest level of sponsorship available. It provides the greatest opportunity for brand exposure and participation in key conference events.</p>
    <p>Identified as 'Emperor Penguin' sponsor of the conference and promoted in press releases and all conference media. Opportunity to briefly address the audience during the Professional Delegates Networking Session (PDNS). Invitation for up to three sponsor-nominated people to attend the PDNS, in addition to any attending the conference as Professional Delegates. Promotion via banners at the keynote venue, at the Penguin Dinner, at the Professional Delegates Networking Session, and around the venue. Your company logo will appear on every conference delegate's badge and prominently on the conference web site.</p>

    <h3>King Penguin</h3>
    <p>The King Penguin Sponsorship package is available for organisations who wish to make a significant contribution to the conference experience.</p>
    <p>Identified as 'King Penguin' sponsor of the conference. Invitation for up to two sponsor-nominated people to attend the Professional Delegates Networking Session, in addition to any attending the conference as Professional Delegates. Promotion via banners around the conference venue.</p>

    <h3>Royal Penguin</h3>
    <p>Identified as 'Royal Penguin' sponsor of the conference. Invitation for one sponsor-nominated person to attend the Professional Delegates Networking Session, in addition to any attending as conference Professional Delegates. Promotion via banners around the conference venue.</p>

    <h3>Hoiho Yellow Eyed Penguin</h3>
    <p>Identified as a Hoiho Yellow Eyed Penguin sponsor of the conference. Invitation for one sponsor-nominated person to attend the Professional Delegates Networking Session, in addition to any attending as conference Professional Delegates. Promotion via a banner at the conference venue.</p>

    <h3>White Flippered Penguin</h3>
    <p>Identified as a White Flippered Penguin sponsor of the conference. Entry level financial sponsor for companies who wish to provide support to the conference.</p>

    <h2>Additional Sponsorship opportunities</h2>
    <h3>Outreach and Inclusion Sponsor</h3>
    <p>Contribute directly to increasing the diversity of the free and open source community by sponsoring our Diversity Programme. This programme reaches out to Delegates from non-traditional backgrounds who would otherwise be unable to attend linux.conf.au but who have a significant contribution to make.</p>

    <h3>Speakers' Travel Sponsor</h3>
    <p>This gives the sponsor the right to be introduced at the conference as having funded Speaker’s travel grants for the conference. Additionally, Speakers who receive such grants will be informed as part of the travel booking process that their travel has been sponsored by your firm.</p>

    <h3>Lanyard Sponsor</h3>
    <p>A highly sought-after opportunity! Delegates are required to wear identity passes attached to lanyards during LCA2019 and its social events. Many Delegates collect lanyards and reuse them time and time again. Your branding, along with LCA2019 branding, will be on the lanyard.</p>

    <h3>Childcare Sponsor</h3>
    <p>linux.conf.au seeks to encourage busy parents to participate by offering a parents room as well as free childcare for Delegates. Sponsoring this would give your firm signage rights at the entrance to these facilities, as well as a logo on relevant Delegate paperwork.</p>

  </div>
</div>
{% endblock %}
