{% extends "utility_page.html" %}

{% load static %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}bg-primary text-secondary{% endblock body_class %}
{% block navbar %}{% include 'nav.html' with color='green' %}{% endblock %}
{% block main_class %}container-fluid{% endblock main_class %}


{% block content %}
<div class="sponsor-header text-center">
  <h1>Our Sponsors</h1>
  <div style="max-width: 400px; display: inline-block;" class="mb-4">
    <p>We would like to thank all of our sponsors. Without them the conference would not be possible.</p>
    <p>
      If you are interested in supporting linux.conf.au 2019, we would love to
      <a href="/sponsors/why-sponsor/">hear from you!</a>
    </p>
  </div>
</div>

<div class="bg-secondary text-primary pt-4 pb-4 mb-0 text-center">
  <div class="col-12 col-md-10 offset-md-1 py-4">
    <div class="sponsor-wrapper my-4">
      <img src="{% static '/assets/penguins/emperor-fs8.png' %}">
      <hr />
    </div>

    <div class="sponsor-logos py-4">
        <a href="https://www.ibm.com"><img src="{% static '/assets/sponsor_logos/ibm.jpg' %}" alt="IBM Logo"></a>
        <a href="https://www.privateinternetaccess.com/"><img src="{% static '/assets/sponsor_logos/pia.png' %}" alt="PIA Logo"></a>
    </div>

    <div class="sponsor-wrapper my-4">
      <img src="{% static '/assets/penguins/king-fs8.png' %}">
      <hr />
    </div>

    <div class="sponsor-logos py-4">
      <a href="https://www.catalyst.net.nz"><img src="{% static '/assets/sponsor_logos/catalyst.svg' %}" alt="Catalyst Logo"></a>
      <a href="https://www.arm.com/"><img src="{% static '/assets/sponsor_logos/arm.png' %}" alt="arm Logo" style="height: initial;"></a>
    </div>

    <div class="sponsor-wrapper my-4">
      <img src="{% static '/assets/penguins/royal-fs8.png' %}">
      <hr />
    </div>

    <div class="sponsor-logos py-4">
        <a href="https://www.vmware.com/"><img src="{% static '/assets/sponsor_logos/vmware.png' %}" alt="VMWare Logo" style="height: initial;"></a>
        <a href="https://www.redhat.com/"><img src="{% static '/assets/sponsor_logos/redhat.png' %}" alt="redhat Logo" style="height: initial;"></a>
        <a href="https://www.suse.com/"><img src="{% static '/assets/sponsor_logos/suse.png' %}" alt="SUSE Logo" style="height: initial;"></a>
    </div>

    <div class="sponsor-wrapper my-4">
      <img src="{% static '/assets/penguins/hoiho-fs8.png' %}">
      <hr />
    </div>

    <div class="sponsor-logos py-4">
      <a href="https://www.taitradio.com"><img src="{% static '/assets/sponsor_logos/tait.jpg' %}" alt="Tait Communications Logo"></a>
      <a href="https://www.cendio.com/"><img src="{% static '/assets/sponsor_logos/mutex.png' %}" alt="Cendio Logo"></a>
    </div>

    <div class="sponsor-wrapper my-4">
      <img src="{% static '/assets/penguins/white_flippered-fs8.png' %}">
      <hr />
    </div>

    <div class="sponsor-logos py-4">
      <a href="https://www.alliedtelesis.com/"><img src="{% static '/assets/sponsor_logos/ati.png' %}" alt="Allied Telesis Logo"></a>
    </div>

    <div class="sponsor-logos py-4">
      <hr />
      <p class="h4">Fairy Penguin</p>
      <a href="https://nzoss.org.nz/"><img src="{% static '/assets/sponsor_logos/nzoss.png' %}" alt="NZOSS Logo"></a>
    </div>

    <div class="sponsor-logos py-4">
        <hr />
        <p class="h4">Outreach</p>
        <a href="https://google.com"><img src="{% static '/assets/sponsor_logos/google.png' %}" alt="Google Logo"></a>
      </div>
  </div>
  </div>
</div>
{% endblock %}
{%block footer_class %}footer-no-margin{% endblock %}
