{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}


{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page ticket-page">
    <h1>Tickets <br/>&amp; Prices</h1>

    <div>
      <h2>Purchase your tickets
        <a id="register-link" class="btn btn-secondary border-primary text-primary float-right" href="/tickets/register">Register</a>
      </h2>
    </div>

    <hr />

    <div>
      <h2>Key Dates</h2>
      <div class="card-group key-dates">
        <div class="card">
          <div class="card-body">
            <p class="card-title"><strong>Early Bird <br />Registrations Close</strong></p>
          </div>
          <div class="card-footer bg-secondary"><del>October 31st</del> <strong>November 4th</strong> 2018 or when sold out</div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-title"><strong>Regular <br />Registrations Close</strong></p>
          </div>
          <div class="card-footer bg-secondary"><del>January 15th</del> <strong>January 20th</strong> 2019 or when sold out</div>
        </div>
        <div class="card">
        </div>
      </div>
    </div>

    <hr />

    <div>
      <h2>Prices &amp; Inclusions</h2>
      <p>All prices are in New Zealand Dollars and include 15&percnt; New Zealand Goods and Services Tax (GST).</p>

      <table class="table table-striped" style="border: 0;">
        <thead>
          <tr>
            <th></th>
            <th>Professional</th>
            <th>Hobbyist</th>
            <th>Student</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Early Bird Price</th>
            <td>$899</td>
            <td>$399</td>
            <td>n/a</td>
          </tr>
          <tr>
            <th>Regular Price</th>
            <td>$1099</td>
            <td>$549</td>
            <td>$199</td>
          </tr>
          <tr>
            <th class="bordered">Inclusions</th>
            <th class="bordered"></th>
            <th class="bordered"></th>
            <th class="bordered"></th>
          </tr>
          <tr>
            <th>Main Conference</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th>Miniconfs</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th>Penguin Dinner</th>
            <td>Yes</td>
            <td>Optional</td>
            <td>Optional</td>
          </tr>
          <tr>
            <th>PDNS</th>
            <td>Yes</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Conference Shirt</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th>Swag Bag</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr />

    <div>
      <h2>Ticket types</h2>

      <div class="jumbotron px-4 py-4 ">
        <p class="my-3"><strong>Professional</strong></p>
        <p>
          The Professional ticket is the standard full inclusion conference ticket.
          This rate applies to most people who have their companies pay the conference
          fees and charge it as a professional development expense, or for individuals
          who can legitimately claim it is a tax deduction. The benefits of a
          Professional ticket include attendance at the Professional Delegates
          Networking Session, attendance at the Penguin Dinner, and a Swag Bag.
        </p>
      </div>


      <div class="jumbotron px-4 py-4">
        <p class="my-3"><strong>Hobbyist</strong></p>
        <p>
          The Hobbyist rate is heavily discounted for free software enthusiasts who
          are paying out of their own pockets and would otherwise find it difficult
          to attend.
        </p>
      </div>

      <div class="jumbotron px-4 py-4">
        <p class="my-3"><strong>Student</strong></p>
        <p>
          This is a concession rate ticket that is reserved for High School,
          College, or University Students. linux.conf.au offers this rate as a form
          of investment in the future of the free and open source software community.
          As part of the registration process, a valid student ID card or proof of
          enrolment must be presented to the onsite registration desk. Any Student
          who cannot provide this will be required to register at LCA2019 as a
          hobbyist by paying the difference in fees between the Student rate
          and the Hobbyist rate.
        </p>
      </div>
    </div>
  </div>
  {% endblock %}