{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}


{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1>Volunteer</h1>
    <p>linux.conf.au is a grass-roots, community-driven event.
    It needs bright, enthusiastic people - like you - to make it a success!</p>
    <p>Volunteering at linux.conf.au is a great opportunity, and can be deeply rewarding.
    On a more practical note, volunteering at linux.conf.au can add to your professional portfolio in many ways - making this an ideal opportunity for students or recent graduates.</p>
    <ul>
    <li>Meeting exceptional people - many of whom are recognised experts in their field and industry luminaries</li>
    <li>Great networking opportunities with people working in the free and open source community</li>
    <li>Gaining practical, hands-on experience and skills in event management, customer liaison, public relations and operation of audio visual equipment - which are invaluable to future employers</li>
    </ul>
    <h2 id="whats-required-of-me">What's required of me?</h2>
    <p>To be eligible for Volunteer Registration at linux.conf.au you need to:</p>
    <ul>
    <li>Be willing to commit to at least three (3) or four (4) full days of volunteering</li>
    <li>Able to attend the mandatory training and induction on the Sunday before the conference</li>
    </ul>
    <p>The following is a guideline of the tasks available across the conference week:</p>
    <table class="table" summary="This table provides a summary of the days volunteers will be needed">
        <thead>
           <tr>
             <th> Day </th>
             <th> Tasks available </th>
           </tr>
       </thead>
       <tbody>
           <tr>
             <td> Saturday 19th Jan </td>
             <td> Conference space setup, AV setup, Network setup  </td>
           </tr>
           <tr>
             <td> Sunday 20th Jan </td>
             <td> Conference setup and registration, AV setup, Network setup, AV training </td>
           </tr>
           <tr>
             <td> Monday 21st Jan </td>
             <td> Miniconference room monitoring, AV and general assistance </td>
           </tr>
           <tr>
             <td> Tuesday 22nd Jan  </td>
             <td> Miniconference room monitoring, AV and general assistance </td>
           </tr>
           <tr>
             <td> Wednesday 23rd Jan </td>
             <td> Conference room monitoring, AV and general assistance </td>
           </tr>
           <tr>
             <td> Thursday 24th Jan </td>
             <td> Conference room monitoring, AV and general assistance </td>
           </tr>
           <tr>
             <td> Friday 25th Jan </td>
             <td> Conference room monitoring, AV, general assistance, and conference packup and tear-down </td>
           </tr>
           <tr>
             <td> Saturday 26th Jan </td>
             <td> Conference packup and tear-down </td>
           </tr>
           <tr>
             <td> Sunday 27th Jan </td>
             <td> Final conference packup and tear-down if required </td>
           </tr>
       </tbody>
    </table>

    <p><strong>We would also like you to have one or more of the following skills and/or aptitudes:</strong></p>
    <ul>
      <li>The ability to meet and greet people and provide basic face to face assistance with a friendly, cheerful disposition</li>
      <li>Some familiarity with audio visual equipment</li>
      <li>Confidence addressing an audience, such as introducing a speaker</li>
      <li>Some familiarity with technology such as IRC, social media, text editors etc</li>
      <li>A clean driver's licence, and be competent in driving minivans and small trucks</li>
      <li>Physical fitness for some manual activities (the most you would have to do would be to lift some heavy boxes, or participate in an eating competition)</li>
    </ul>
    <p><strong>The types of tasks you can be expected to be assigned to include:</strong></p>
    <ul>
      <li>General conference set up including moving and commissioning of equipment such as audiovisual and networking gear</li>
      <li>Operating audiovisual equipment such as cameras in the conference venues</li>
      <li>Assisting with registration of delegates and ensuring questions related to accommodation and getting around the conference venue are answered</li>
      <li>Introducing speakers and ensuring they run to time</li>
      <li>Room monitoring activities including co-ordinating with other conference rooms</li>
      <li>Escorting delegates to/from the Airport</li>
      <li>General event administration tasks</li>
      <li>Assisting with accommodation and food/beverage activities, such as making breakfast for delegates</li>
    </ul>
    <h2 id="whats-in-it-for-me">What's in it for me?</h2>
    <p>Feeling tempted, but want to know more about what you get for volunteering your time? This is what we're offering:</p>
    <ul>
      <li>Free conference registration (excluding the Penguin Dinner)</li>
      <li>Lunch, morning tea and afternoon tea provided every day (at minimum - we may include other meals for instance if you're volunteering for an evening)</li>
      <li>T-shirt</li>
      <li>Swag bag</li>
      <li>Refunds of expenses you incur in the course of volunteering (e.g. petrol for driving to the airport for a pickup)</li>
      <li>Written reference covering your experience and duties - useful for job interviews!</li>
    </ul>
    <p>We don't include the following:</p>
    <ul>
      <li>Accommodation</li>
      <li>Travel to and from the conference venue - you will have to make your own way there</li>
    </ul>
    <h2 id="sign-me-up">Sign me up!</h2>
    <p>Great! Here's what you have to do:</p>
    <ol>
      <li>Visit <a href="https://rego.linux.conf.au">our rego site</a> and log in or create a new account</li>
      <li>Fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVFwnbiBcxoreCmMjQj6kmaaFnYnWLUtZhAXODP_oTIMc56g/viewform">this form</a> with your details - including the same email address you provided in step 1.</li>
      <li>Create an <a href="https://rego.linux.conf.au/tickets/profile">attendee profile</a>.</li>
    </ol>
    <p>We will contact you by email to let you know if you have met the eligibity criteria and selected as a volunteer.
    If you are chosen, you will be given further instructions on how to register your ticket.</p>
    <p>Any questions? Email us at volunteer-coordinator@lca2019.org</p>
  </div>
</div>
{% endblock %}
