{% load lca2018_tags %}
{% load waffle_tags %}

<table class="calendar table">
  <thead>
    <tr>
      <th class="time">&nbsp;</th>
        {% for room in timetable.rooms %}
        <th>{{ room.name }}</th>
        {% endfor %}
    </tr>
    {% with timetable|day_has_tracks:timetable.day as has_tracks %}
    {% if has_tracks %}
    <tr>
      <th class="time">&nbsp;</th>
      {% for room in timetable.rooms %}
      {% with room|trackname:timetable.day as track_name %}
      <th class="track-name">{% if track_name %}<p>{{ track_name }}{% endif %}</th>
      {% endwith %}
      {% endfor %}
    </tr>
    {% endif %}
    {% endwith %}
  </thead>

  <tbody>
    {% for row in timetable %}
    {% if forloop.last %}
    {% else %}
    <tr class="calendar-row">
      <td class="time"><p>{{ row.time|date:"h:iA" }} <br />{{ row.end|date:"h:iA" }}</p></td>
      {% for slot in row.slots %}
      <td class="slot slot-{{ slot.kind.label }}" colspan="{{ slot.colspan }}" rowspan="{% if slot.rowspan > 1%}{{ slot.rowspan|add:-1 }}{% else %}1{% endif %}" >
        {% with slot.kind.label.lower as label %}
        {% if label == "talk" or label == "tutorial" %}
        {% if slot.content %}
        <div>
          <p><a href="{% url "schedule_presentation_detail" slot.content.pk %}">{{ slot.content.title }}</a><br />{{ slot.content.speakers|join:", " }}</p>
        </div>
        {% flag "session_chair" %}
        {% if slot.sessions %}
        <div>
          {% for session in slot.sessions.all %}
          <em>Session chair:
            {% if not session.chair %}
            <a href="{% url "schedule_session_detail" session.id %}">Volunteer! 🙋</a>
            {% else %}
            <a href="{% url "schedule_session_detail" session.id %}">{{ session.chair.user.attendee.attendeeprofilebase.attendeeprofile.name }}</a>
            {% endif %}
          </em>
          {% endfor %}
        </div>
        {% endif %}
        {% endflag %}
        {% endif %}
        {% elif label == "shortbreak" %}
        {% else %}
        {% if slot.content_override %}
        {{ slot.content_override_html|safe }}
        {% else %}
        <div class="center-flex">
          <p>{{ slot.kind.label }}</p>
        </div>
        {% endif %}
        {% endif %}
        {% endwith %}
      </td>
      {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

