{% extends "site_base.html" %}
{% load static %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-8 content text-page">
    <h1>Dana Lewis<br />
        <small class="subtitle">Co-founder of OpenAPS</small>
    </h1>
    <p>
        After building her own DIY "artificial pancreas", Dana Lewis (<a href="https://diyps.org/about/dana-lewis/">https://diyps.org/about/dana-lewis/</a>)
        helped found the open source artificial pancreas movement (known as "OpenAPS"), making safe and effective artificial pancreas technology available
        (sooner) for people with diabetes around the world.
    </p>
    <p>
        She is also a Principal Investigator for a Robert Wood Johnson Foundation funded grant project to work to scale
        patient-led innovation and scientific discovery in more patient communities.
    </p>
    <p>
        <a href="https://openaps.org/">https://openaps.org/</a><br />
        <a href="https://twitter.com/danamlewis">@danamlewis</a>
    </p>

    <img src="{% static '/assets/speakers/dana.jpg' %}" style="filter: grayscale(100%);" alt="Dana Lewis" />
  </div>
</div>
{% endblock content %}
