{% extends "site_base.html" %}
{% load static %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-8 content text-page">
    <h1>Rory Aronson<br />
        <small class="subtitle">CEO of FarmBot Inc.</small>
    </h1>
    <p>
        Rory is the CEO of FarmBot Inc, a California benefit corporation that produces 100% open-source CNC farming machines designed 
        for small-scale automated precision food production.
    </p>
    <p>
        Rory started the project from his sunny porch in San Luis Obispo with the publishing of the FarmBot 
        whitepaper in September of 2013. From there, he formed a small team consisting of hardware and software 
        engineers who brought the project to market in July of 2016 with the debut of FarmBot Genesis.
    </p>
    <p>
        After raising over $1,000,000 in pre-order sales in 2016, the team shipped their first units to customers in early 2017. 
        Today, over 900 FarmBot kits have been delivered to customers all around the world, and the FarmBot community continues to grow.
    </p>
    <p>
        <a href="https://farm.bot">https://farm.bot</a><br />
        <a href="https://twitter.com/roryaronson">@roryaronson</a>
    </p>

    <img src="{% static '/assets/speakers/rory.jpg' %}" style="filter: grayscale(100%);" alt="Rory Aronson" />
  </div>
</div>
{% endblock content %}
