{% extends "site_base.html" %}
{% load static %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-8 content text-page">
    <h1>Rusty Russell<br />
        <small class="subtitle">linux.conf.au creator | Jack of Many Trades</small>
    </h1>
    <p>
        Rusty is a recovering Linux kernel maintainer, and long-time Free Software developer. He helped create 
        the modern Linux kernel module subsystem, iptables, netfilter, lguest, virtio, CCAN, ccontrol, linux.conf.au 
        and many other forgotten projects. After almost 20 years of kernel development, he switched to working 
        on bitcoin 4 years ago: in particular, developing specifications and an implementation of the lightning 
        network. He lives in Adelaide with his three great children, and very understanding wife.
    </p>
    <p>
        As Rusty created linux.conf.au, it seems fitting to bring him back for the conference's 20th anniversary!
    </p>
    <p>
        <a href="https://rusty.ozlabs.org/">https://rusty.ozlabs.org/</a><br />
        <a href="https://twitter.com/rusty_twit">@rusty_twit</a>
    </p>

    <img src="{% static '/assets/speakers/rusty.jpg' %}" style="filter: grayscale(100%);" alt="Rusty Russell" />
  </div>
</div>
{% endblock content %}
