{% extends "site_base.html" %}
{% load static %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-8 content text-page">
    <h1>Shannon Morse<br />
        <small class="subtitle"> Internet Media Host | Hak5 and TekThing</small>
    </h1>
    <p>
        Shannon Morse has been podcasting since 2008 and is an influencer in consumer technology and internet security. 
        Her expertise include hardware reviews and how-tos, tutorials for personal privacy and security, the credit card 
        industry, and software defined radio. She is also a licensed amateur radio enthusiast.
    </p>
    <p>
        Currently, Shannon hosts several Youtube shows including TekThing, Threat Wire, Hak5, HakTip and videos on her 
        own channel. She has a combined following of over half a million viewers and built a successful career, 
        completely self taught. Shannon produces, writes, and edits all of her content. She has made appearances on 
        several podcasts on popular networks like TWiT, Revision3, Nvidia GeForce, MatPat's Game Lab, and CNET. Shannon 
        has also been an extra in Jason Bourne. In recent years, she has helped create conduct policies for multiple 
        conventions and has introduced a sponsorship program to Hak5.
    </p>
    <p>
        Shannon has inspired young women to follow their early passions in open source and infosec by being a vocal 
        advocate and supporter in their careers.  
    </p>
    <p>
        Shannon lives in San Francisco with her husband and two cats. She's a huge bookworm, an atheist, a couponer, 
        an otaku, and a clean freak.
    </p>
    <p>
        <a href="https://about.me/snubs">https://about.me/snubs/</a><br />
        <a href="https://www.youtube.com/hak5">https://www.youtube.com/hak5</a><br />
        <a href="https://www.youtube.com/tekthing">https://www.youtube.com/tekthing</a><br />
        <a href="https://www.linkedin.com/in/snubs/">https://www.linkedin.com/in/snubs/</a><br />
        <a href="https://twitter.com/snubs">@snubs</a>
    </p>

    <img src="{% static '/assets/speakers/snubs.jpg' %}" style="filter: grayscale(100%);" alt="Shannon Morse" />
  </div>
</div>
{% endblock content %}
