{% load lca2018_tags %}
{% load lca2019_tags %}
{% load bootstrap %}
{% load crispy_forms_tags %}

{% if form.non_field_errors %}
  <div class="has-errors">
    {{ form.non_field_errors }}
  </div>
  <br/>
{% endif %}

{% if form|has_required_fields %}
<blockquote>
  Fields marked with a * are required
</blockquote>
{% endif %}

{{ form|crispy }}
