{% load sitetree %}
{% load static %}

<nav class="navbar navbar-expand-lg{% if color == 'green' %} navbar-dark{% endif %}">
  <a class="navbar-brand" href="/">
    {% if color == 'green' %}
    <img src="{% static 'assets/LCA_logo_white.svg' %}" alt="LCA2019 Logo">
    {% else %}
    <img src="{% static 'assets/LCA_logo.svg' %}" alt="LCA2019 Logo">
    {% endif %}
  </a>

  <button class="navbar-toggler {% if color == 'green' %}white{% else %}green{% endif %}-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% sitetree_menu from "main" include "trunk" template "sitetree_header.html" %}

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex ml-3">
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/linuxconfau" target="_blank" rel="noopener" aria-label="Twitter">
        <svg class="navbar-nav-svg {% if color == 'green' %} text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 416.32" focusable="false"><title>Twitter</title>
          <path d="M160.83 416.32c193.2 0 298.92-160.22 298.92-298.92 0-4.51 0-9-.2-13.52A214 214 0 0 0 512 49.38a212.93 212.93 0 0 1-60.44 16.6 105.7 105.7 0 0 0 46.3-58.19 209 209 0 0 1-66.79 25.37 105.09 105.09 0 0 0-181.73 71.91 116.12 116.12 0 0 0 2.66 24c-87.28-4.3-164.73-46.3-216.56-109.82A105.48 105.48 0 0 0 68 159.6a106.27 106.27 0 0 1-47.53-13.11v1.43a105.28 105.28 0 0 0 84.21 103.06 105.67 105.67 0 0 1-47.33 1.84 105.06 105.06 0 0 0 98.14 72.94A210.72 210.72 0 0 1 25 370.84a202.17 202.17 0 0 1-25-1.43 298.85 298.85 0 0 0 160.83 46.92" fill="currentColor"></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>
