{% extends "registrasion/base.html" %}
{% load registrasion_tags %}
{% load lca2018_tags %}
{% load staticfiles %}

{% block header_title %}{% conference_name %}{% endblock %}

{% block proposals_body %}
<h1 class="mb-5">Raffle Tickets</h1>

<p>You can buy more raffle tickets from the <a href="/dashboard">dashboard</a>.</p>

{% for raffle in raffles %}
{% if raffle.tickets %}
  <h2 class="mt-5">{{ raffle }}</h2>
   {% for id, numbers in raffle.tickets %}
    <h4 class="mt-3"><strong>Ticket {{ id }}</strong></h4>
    <p>{% for number in numbers %}{{ number }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  {% endfor %}
{% endif %}
{% endfor %}
{% endblock %}
