{% load staticfiles %}
{% load i18n %}
{% load sitetree %}
{% load sass_tags %}


<!DOCTYPE html>



<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>


  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="linux.conf.au 2019" />
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'assets/social.png' %}" />
  <meta property="og:image:alt" content="linux.conf.au 21-25 Jan 2019 Christchurch"   />


  {% block styles %}
  <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
  {% block extra_style %}{% endblock %}
  {% endblock %}


  {% block extra_head_base %}
  {% block extra_head %}{% endblock %}
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  {% block template_overrides %}{% endblock %}
  <header class="clearfix hidden-print">
    {% block alert %}{% endblock %}
    {% block navbar %}{% include 'nav.html' %}{% endblock %}
  </header>

  {% if messages %}
  <div class="container my-5 alert alert-light bg-primary text-secondary">
    <ul class="messagelist hidden-print list-unstyled">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <main role="main" class="{% block main_class %}container{% endblock %}">
    <h1 class="text-primary text-upper h2 mb-5">{% block page_title %}{% endblock %}</h1>

    {% block body_base %}
    {% block body_out %}

    <div class="row">
      <div class="col-md-12">
        {% block body_outer %}
        {% endblock %}
      </div>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% endblock %}

    {% block footer_base %}
    {% block footer %}
    {% endblock %}
    {% endblock %}

    {% block scripts %}
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% if settings.ANALYTICS_KEY %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.ANALYTICS_KEY }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ settings.ANALYTICS_KEY }}');
    </script>
    {% else %}
    <!--no-analytics-->
    {% endif %}
    {% block extra_script %}
    {% endblock %}
    {% block scripts_extra %}{% endblock %}
    {% endblock %}

    {% block extra_body_base %}
    {% block extra_body %}
    {% endblock %}
    {% endblock %}
  </main>

  <footer class="bg-white text-primary py-xl-4 py-2 {%block footer_class %}{% endblock %}" style="height: 200px;">
    <div class="row">
      <div class="col-sm-4 my-3">
        <strong>linux.conf.au</strong> <br/>
        21-25 Jan 2019<br />
        Christchurch, NZ<br />
        <a href="mailto:contact@lca2019.org">contact@lca2019.org</a>
      </p>
      <p>
        <a class="a-img" href="mailto:contact@lca2019.org" rel="noopener" aria-label="E-Mail">
          <svg class="navbar-nav-svg {% if color == 'green' %} text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" focusable="false"><title>E-Mail</title>
            <path d="M0 0h24v24H0z" fill="none"/>
            <path fill="currentColor" d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
          </svg>
        </a>
        <a class="a-img" href="https://twitter.com/linuxconfau" target="_blank" rel="noopener" aria-label="Twitter">
          <svg class="navbar-nav-svg {% if color == 'green' %} text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 416.32" focusable="false"><title>Twitter</title>
            <path d="M160.83 416.32c193.2 0 298.92-160.22 298.92-298.92 0-4.51 0-9-.2-13.52A214 214 0 0 0 512 49.38a212.93 212.93 0 0 1-60.44 16.6 105.7 105.7 0 0 0 46.3-58.19 209 209 0 0 1-66.79 25.37 105.09 105.09 0 0 0-181.73 71.91 116.12 116.12 0 0 0 2.66 24c-87.28-4.3-164.73-46.3-216.56-109.82A105.48 105.48 0 0 0 68 159.6a106.27 106.27 0 0 1-47.53-13.11v1.43a105.28 105.28 0 0 0 84.21 103.06 105.67 105.67 0 0 1-47.33 1.84 105.06 105.06 0 0 0 98.14 72.94A210.72 210.72 0 0 1 25 370.84a202.17 202.17 0 0 1-25-1.43 298.85 298.85 0 0 0 160.83 46.92" fill="currentColor"></path>
          </svg>
        </a>
        <a class="a-img" href="https://www.facebook.com/linuxconferenceaustralia/posts/" target="_blank" rel="noopener" aria-label="Facebook">
          <svg class="navbar-nav-svg {% if color == 'green' %} text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.893 266.895" focusable="false"><title>Facebook</title>
            <path id="Blue_1_" fill="currentColor" d="M248.082,262.307c7.854,0,14.223-6.369,14.223-14.225V18.812
            c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857,0-14.224,6.367-14.224,14.224v229.27c0,7.855,6.366,14.225,14.224,14.225
            H248.082z"/>
            <path id="f" fill="#FFFFFF" d="M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935
            l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585
            v99.803H182.409z"/>
          </svg>
        </a>
      </div>
      <div class="col-sm-4 my-3 footer-center">
        <a href="https://linux.org.au"><img src="{% static '/assets/la_logo.svg' %}" alt="Linux Australia Logo"></a>
      </div>
      <div class="col-sm-4 my-3 footer-right">
        <p>
          <small>
            &copy; 2018 linux.conf.au <br />
            and Linux Australia. <br />
            Linux is a registered <br />
            trademark of Linus Torvalds.
          </small>
        </p>
      </div>
      <div class="col-12 my-3 footer-center">
        <span style="vertical-align: middle;">Creative Partner</span>
        <a href="https://www.kallan.co">
        <svg width="97" height="14" viewBox="0 0 97 14" fill="none" xmlns="http://www.w3.org/2000/svg"  style="vertical-align: middle;">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.9906 13.0018H22.1894V0H24.9906V13.0018ZM2.96593 5.5166L7.10359 0.000127256H10.6737L5.602 6.50102L10.6737 13.0016H7.10359L2.96593 7.50402V13.0016H0V0.000127256H2.96593V5.5166ZM15.9465 10.6244C15.6902 10.7483 15.4033 10.8101 15.086 10.8101C14.7685 10.8101 14.4819 10.7483 14.2255 10.6244C13.9692 10.5007 13.7495 10.3365 13.5665 10.1321C13.3834 9.92783 13.2397 9.68636 13.1362 9.40775C13.0324 9.12914 12.9806 8.83516 12.9806 8.52549C12.9806 8.21614 13.0324 7.92504 13.1362 7.65251C13.2397 7.38031 13.3834 7.13885 13.5665 6.92813C13.7495 6.71773 13.9692 6.55056 14.2255 6.42663C14.4819 6.30302 14.7685 6.24089 15.086 6.24089C15.4033 6.24089 15.6902 6.30302 15.9465 6.42663C16.2028 6.55056 16.4225 6.71773 16.6056 6.92813C16.7887 7.13885 16.932 7.38031 17.0359 7.65251C17.1394 7.92504 17.1915 8.21614 17.1915 8.52549C17.1915 8.83516 17.1394 9.12914 17.0359 9.40775C16.932 9.68636 16.7887 9.92783 16.6056 10.1321C16.4225 10.3365 16.2028 10.5007 15.9465 10.6244ZM19.9926 13.0018V4.04916H17.1914V5.33077C17.0816 5.13286 16.9351 4.94071 16.752 4.75497C16.569 4.56923 16.3584 4.40847 16.1204 4.27205C15.8824 4.13595 15.6229 4.0277 15.3423 3.947C15.0614 3.86662 14.7807 3.82627 14.5001 3.82627C13.8653 3.82627 13.2826 3.947 12.7517 4.18847C12.2208 4.42993 11.7659 4.75817 11.3877 5.17289C11.0093 5.58792 10.7163 6.08301 10.5089 6.6588C10.3012 7.2346 10.1977 7.85683 10.1977 8.52549C10.1977 9.19415 10.3012 9.81638 10.5089 10.3922C10.7163 10.968 11.0093 11.4634 11.3877 11.8781C11.7659 12.2931 12.2208 12.6211 12.7517 12.8625C13.2826 13.104 13.8653 13.2247 14.5001 13.2247C14.7807 13.2247 15.0614 13.1844 15.3423 13.104C15.6229 13.0233 15.8824 12.9182 16.1204 12.7882C16.3584 12.6582 16.569 12.5035 16.752 12.3239C16.9351 12.1445 17.0816 11.9495 17.1914 11.7388V13.0018H19.9926ZM27.1874 13.0018H29.9886V0H27.1874V13.0018ZM37.3849 10.6244C37.1286 10.7483 36.8417 10.8101 36.5245 10.8101C36.2069 10.8101 35.9203 10.7483 35.664 10.6244C35.4076 10.5007 35.188 10.3365 35.0049 10.1321C34.8218 9.92783 34.6782 9.68636 34.5746 9.40775C34.4708 9.12914 34.419 8.83516 34.419 8.52549C34.419 8.21614 34.4708 7.92504 34.5746 7.65251C34.6782 7.38031 34.8218 7.13885 35.0049 6.92813C35.188 6.71773 35.4076 6.55056 35.664 6.42663C35.9203 6.30302 36.2069 6.24089 36.5245 6.24089C36.8417 6.24089 37.1286 6.30302 37.3849 6.42663C37.6413 6.55056 37.861 6.71773 38.044 6.92813C38.2271 7.13885 38.3704 7.38031 38.4743 7.65251C38.5778 7.92504 38.6299 8.21614 38.6299 8.52549C38.6299 8.83516 38.5778 9.12914 38.4743 9.40775C38.3704 9.68636 38.2271 9.92783 38.044 10.1321C37.861 10.3365 37.6413 10.5007 37.3849 10.6244ZM41.431 13.0018V4.04916H38.6299V5.33077C38.52 5.13286 38.3735 4.94071 38.1905 4.75497C38.0074 4.56923 37.7968 4.40847 37.5588 4.27205C37.3208 4.13595 37.0614 4.0277 36.7807 3.947C36.4998 3.86662 36.2192 3.82627 35.9386 3.82627C35.3038 3.82627 34.7211 3.947 34.1901 4.18847C33.6592 4.42993 33.2043 4.75817 32.8262 5.17289C32.4477 5.58792 32.1548 6.08301 31.9474 6.6588C31.7397 7.2346 31.6361 7.85683 31.6361 8.52549C31.6361 9.19415 31.7397 9.81638 31.9474 10.3922C32.1548 10.968 32.4477 11.4634 32.8262 11.8781C33.2043 12.2931 33.6592 12.6211 34.1901 12.8625C34.7211 13.104 35.3038 13.2247 35.9386 13.2247C36.2192 13.2247 36.4998 13.1844 36.7807 13.104C37.0614 13.0233 37.3208 12.9182 37.5588 12.7882C37.7968 12.6582 38.0074 12.5035 38.1905 12.3239C38.3735 12.1445 38.52 11.9495 38.6299 11.7388V13.0018H41.431ZM46.4292 4.44482H43.628V13.3975H46.4292V8.90257C46.4292 8.20925 46.5693 7.65812 46.8503 7.24949C47.1309 6.84086 47.558 6.63655 48.1318 6.63655C48.7177 6.63655 49.1233 6.83798 49.3493 7.2402C49.575 7.64274 49.688 8.16602 49.688 8.8097V13.3975H52.4892V8.08532C52.4892 7.44163 52.4434 6.8937 52.3519 6.44152C52.2607 5.98966 52.0741 5.59032 51.7935 5.2435C51.5492 4.92166 51.2196 4.67091 50.8048 4.49125C50.3898 4.31192 49.8954 4.22193 49.3219 4.22193C48.6262 4.22193 48.0312 4.35515 47.5368 4.62127C47.0425 4.88771 46.6732 5.26207 46.4292 5.745V4.44482ZM85.5863 8.73538C85.4641 9.42902 85.2293 10.0788 84.8814 10.6856C84.5335 11.2922 84.085 11.8219 83.5361 12.2737C82.9868 12.7259 82.3457 13.0817 81.6134 13.3417C80.8814 13.6018 80.0755 13.7318 79.197 13.7318C78.1102 13.7318 77.1433 13.5457 76.2948 13.1746C75.4467 12.8031 74.7267 12.3048 74.1348 11.679C73.5423 11.0542 73.0909 10.3267 72.7797 9.49691C72.4684 8.66749 72.3128 7.79451 72.3128 6.87798C72.3128 5.98643 72.4653 5.13203 72.7705 4.31477C73.0754 3.49751 73.5183 2.77313 74.0979 2.14161C74.6774 1.5101 75.3826 1.00572 76.2125 0.627834C77.0423 0.25027 77.982 0.0613279 79.0319 0.0613279C80.0206 0.0613279 80.9022 0.203835 81.6775 0.48853C82.4524 0.773544 83.1115 1.15719 83.6551 1.64012C84.1977 2.12304 84.6279 2.69275 84.9455 3.34892C85.263 4.00542 85.4701 4.70482 85.568 5.44778H82.4739C82.4006 5.06413 82.2753 4.71123 82.0985 4.38907C81.9215 4.06722 81.6958 3.78541 81.4215 3.54395C81.1465 3.30249 80.823 3.11387 80.4508 2.97744C80.0787 2.84134 79.6664 2.77313 79.215 2.77313C78.5928 2.77313 78.0404 2.88778 77.5581 3.11675C77.0758 3.34604 76.6705 3.64931 76.3406 4.02687C76.0111 4.40476 75.7608 4.84125 75.59 5.33634C75.4189 5.83175 75.334 6.34574 75.334 6.87798C75.334 7.44769 75.4221 7.98313 75.5991 8.48463C75.7759 8.98613 76.0385 9.42582 76.3864 9.80338C76.7342 10.1813 77.1553 10.4781 77.6497 10.6949C78.144 10.9117 78.7144 11.02 79.3615 11.02C79.7276 11.02 80.0755 10.9614 80.4054 10.8435C80.7346 10.726 81.0367 10.5649 81.3113 10.3606C81.5859 10.1563 81.8208 9.91483 82.0162 9.63622C82.2112 9.35761 82.3517 9.05754 82.4373 8.73538H85.5863ZM92.3146 11.0292C92.052 11.1471 91.7622 11.2057 91.4446 11.2057C91.1271 11.2057 90.8405 11.1471 90.5842 11.0292C90.3282 10.9117 90.1081 10.7477 89.9251 10.537C89.742 10.3266 89.6015 10.0852 89.504 9.81264C89.4064 9.54043 89.3578 9.24325 89.3578 8.92108C89.3578 8.61173 89.4064 8.31743 89.504 8.03882C89.6015 7.76021 89.742 7.51875 89.9251 7.31444C90.1081 7.11012 90.3282 6.94616 90.5842 6.82222C90.8405 6.69861 91.1271 6.63648 91.4446 6.63648C91.7622 6.63648 92.052 6.69861 92.3146 6.82222C92.5766 6.94616 92.7995 7.11012 92.9825 7.31444C93.1656 7.51875 93.3089 7.76021 93.4128 8.03882C93.5163 8.31743 93.5687 8.61173 93.5687 8.92108C93.5687 9.24325 93.5163 9.54043 93.4128 9.81264C93.3089 10.0852 93.1656 10.3266 92.9825 10.537C92.7995 10.7477 92.5766 10.9117 92.3146 11.0292ZM89.4032 13.2581C90.0074 13.5117 90.6876 13.6389 91.4446 13.6389C92.2135 13.6389 92.9001 13.5117 93.5042 13.2581C94.1084 13.0045 94.621 12.6637 95.0418 12.2365C95.4632 11.8093 95.7868 11.311 96.0125 10.7413C96.2382 10.1716 96.3515 9.56509 96.3515 8.92108C96.3515 8.2774 96.2382 7.67054 96.0125 7.10083C95.7868 6.53145 95.4632 6.03283 95.0418 5.60563C94.621 5.17843 94.1084 4.83801 93.5042 4.58406C92.9001 4.33043 92.2135 4.20329 91.4446 4.20329C90.6876 4.20329 90.0074 4.33043 89.4032 4.58406C88.799 4.83801 88.2864 5.17843 87.8653 5.60563C87.4442 6.03283 87.121 6.53145 86.8953 7.10083C86.669 7.67054 86.5563 8.2774 86.5563 8.92108C86.5563 9.56509 86.669 10.1716 86.8953 10.7413C87.121 11.311 87.4442 11.8093 87.8653 12.2365C88.2864 12.6637 88.799 13.0045 89.4032 13.2581ZM67.9477 8.51105L66.1081 10.3963L69.0336 13.5321H65.5011L64.3237 12.2441C63.4221 13.1776 62.2817 13.7931 60.9016 13.7931C58.3258 13.7931 56.8725 11.9828 56.8725 10.1542C56.8725 8.52994 57.7002 7.57754 59.0982 6.55149L58.9142 6.3459C58.2892 5.65578 57.5525 4.70338 57.5525 3.50888C57.5525 1.25054 59.4297 0 61.2514 0C63.4035 0 64.9859 1.39945 64.9859 3.3968C64.9859 4.72099 64.1046 5.74673 63.1491 6.45542L61.5575 4.7242L61.6374 4.66623C62.1715 4.27426 62.3921 3.82656 62.3921 3.3968C62.3921 2.76272 61.8956 2.27691 61.2514 2.27691C60.6996 2.27691 60.1475 2.6311 60.1475 3.41569C60.1475 3.93832 60.4966 4.36745 60.8097 4.70338L61.1222 5.03995L61.1235 5.03899L62.7239 6.77502L62.7233 6.77534L64.1109 8.2571L62.3483 10.102L60.681 8.2872L60.5891 8.36181C59.9821 8.80983 59.5765 9.27642 59.5765 10.0043C59.5765 10.6951 60.1292 11.367 60.9755 11.367C61.6191 11.367 62.1715 11.0499 62.7046 10.4901L64.4711 8.6417L67.9477 5.03995V8.51105Z" fill="black"/>
          <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="97" height="14">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.9906 13.0018H22.1894V0H24.9906V13.0018ZM2.96593 5.5166L7.10359 0.000127256H10.6737L5.602 6.50102L10.6737 13.0016H7.10359L2.96593 7.50402V13.0016H0V0.000127256H2.96593V5.5166ZM15.9465 10.6244C15.6902 10.7483 15.4033 10.8101 15.086 10.8101C14.7685 10.8101 14.4819 10.7483 14.2255 10.6244C13.9692 10.5007 13.7495 10.3365 13.5665 10.1321C13.3834 9.92783 13.2397 9.68636 13.1362 9.40775C13.0324 9.12914 12.9806 8.83516 12.9806 8.52549C12.9806 8.21614 13.0324 7.92504 13.1362 7.65251C13.2397 7.38031 13.3834 7.13885 13.5665 6.92813C13.7495 6.71773 13.9692 6.55056 14.2255 6.42663C14.4819 6.30302 14.7685 6.24089 15.086 6.24089C15.4033 6.24089 15.6902 6.30302 15.9465 6.42663C16.2028 6.55056 16.4225 6.71773 16.6056 6.92813C16.7887 7.13885 16.932 7.38031 17.0359 7.65251C17.1394 7.92504 17.1915 8.21614 17.1915 8.52549C17.1915 8.83516 17.1394 9.12914 17.0359 9.40775C16.932 9.68636 16.7887 9.92783 16.6056 10.1321C16.4225 10.3365 16.2028 10.5007 15.9465 10.6244ZM19.9926 13.0018V4.04916H17.1914V5.33077C17.0816 5.13286 16.9351 4.94071 16.752 4.75497C16.569 4.56923 16.3584 4.40847 16.1204 4.27205C15.8824 4.13595 15.6229 4.0277 15.3423 3.947C15.0614 3.86662 14.7807 3.82627 14.5001 3.82627C13.8653 3.82627 13.2826 3.947 12.7517 4.18847C12.2208 4.42993 11.7659 4.75817 11.3877 5.17289C11.0093 5.58792 10.7163 6.08301 10.5089 6.6588C10.3012 7.2346 10.1977 7.85683 10.1977 8.52549C10.1977 9.19415 10.3012 9.81638 10.5089 10.3922C10.7163 10.968 11.0093 11.4634 11.3877 11.8781C11.7659 12.2931 12.2208 12.6211 12.7517 12.8625C13.2826 13.104 13.8653 13.2247 14.5001 13.2247C14.7807 13.2247 15.0614 13.1844 15.3423 13.104C15.6229 13.0233 15.8824 12.9182 16.1204 12.7882C16.3584 12.6582 16.569 12.5035 16.752 12.3239C16.9351 12.1445 17.0816 11.9495 17.1914 11.7388V13.0018H19.9926ZM27.1874 13.0018H29.9886V0H27.1874V13.0018ZM37.3849 10.6244C37.1286 10.7483 36.8417 10.8101 36.5245 10.8101C36.2069 10.8101 35.9203 10.7483 35.664 10.6244C35.4076 10.5007 35.188 10.3365 35.0049 10.1321C34.8218 9.92783 34.6782 9.68636 34.5746 9.40775C34.4708 9.12914 34.419 8.83516 34.419 8.52549C34.419 8.21614 34.4708 7.92504 34.5746 7.65251C34.6782 7.38031 34.8218 7.13885 35.0049 6.92813C35.188 6.71773 35.4076 6.55056 35.664 6.42663C35.9203 6.30302 36.2069 6.24089 36.5245 6.24089C36.8417 6.24089 37.1286 6.30302 37.3849 6.42663C37.6413 6.55056 37.861 6.71773 38.044 6.92813C38.2271 7.13885 38.3704 7.38031 38.4743 7.65251C38.5778 7.92504 38.6299 8.21614 38.6299 8.52549C38.6299 8.83516 38.5778 9.12914 38.4743 9.40775C38.3704 9.68636 38.2271 9.92783 38.044 10.1321C37.861 10.3365 37.6413 10.5007 37.3849 10.6244ZM41.431 13.0018V4.04916H38.6299V5.33077C38.52 5.13286 38.3735 4.94071 38.1905 4.75497C38.0074 4.56923 37.7968 4.40847 37.5588 4.27205C37.3208 4.13595 37.0614 4.0277 36.7807 3.947C36.4998 3.86662 36.2192 3.82627 35.9386 3.82627C35.3038 3.82627 34.7211 3.947 34.1901 4.18847C33.6592 4.42993 33.2043 4.75817 32.8262 5.17289C32.4477 5.58792 32.1548 6.08301 31.9474 6.6588C31.7397 7.2346 31.6361 7.85683 31.6361 8.52549C31.6361 9.19415 31.7397 9.81638 31.9474 10.3922C32.1548 10.968 32.4477 11.4634 32.8262 11.8781C33.2043 12.2931 33.6592 12.6211 34.1901 12.8625C34.7211 13.104 35.3038 13.2247 35.9386 13.2247C36.2192 13.2247 36.4998 13.1844 36.7807 13.104C37.0614 13.0233 37.3208 12.9182 37.5588 12.7882C37.7968 12.6582 38.0074 12.5035 38.1905 12.3239C38.3735 12.1445 38.52 11.9495 38.6299 11.7388V13.0018H41.431ZM46.4292 4.44482H43.628V13.3975H46.4292V8.90257C46.4292 8.20925 46.5693 7.65812 46.8503 7.24949C47.1309 6.84086 47.558 6.63655 48.1318 6.63655C48.7177 6.63655 49.1233 6.83798 49.3493 7.2402C49.575 7.64274 49.688 8.16602 49.688 8.8097V13.3975H52.4892V8.08532C52.4892 7.44163 52.4434 6.8937 52.3519 6.44152C52.2607 5.98966 52.0741 5.59032 51.7935 5.2435C51.5492 4.92166 51.2196 4.67091 50.8048 4.49125C50.3898 4.31192 49.8954 4.22193 49.3219 4.22193C48.6262 4.22193 48.0312 4.35515 47.5368 4.62127C47.0425 4.88771 46.6732 5.26207 46.4292 5.745V4.44482ZM85.5863 8.73538C85.4641 9.42902 85.2293 10.0788 84.8814 10.6856C84.5335 11.2922 84.085 11.8219 83.5361 12.2737C82.9868 12.7259 82.3457 13.0817 81.6134 13.3417C80.8814 13.6018 80.0755 13.7318 79.197 13.7318C78.1102 13.7318 77.1433 13.5457 76.2948 13.1746C75.4467 12.8031 74.7267 12.3048 74.1348 11.679C73.5423 11.0542 73.0909 10.3267 72.7797 9.49691C72.4684 8.66749 72.3128 7.79451 72.3128 6.87798C72.3128 5.98643 72.4653 5.13203 72.7705 4.31477C73.0754 3.49751 73.5183 2.77313 74.0979 2.14161C74.6774 1.5101 75.3826 1.00572 76.2125 0.627834C77.0423 0.25027 77.982 0.0613279 79.0319 0.0613279C80.0206 0.0613279 80.9022 0.203835 81.6775 0.48853C82.4524 0.773544 83.1115 1.15719 83.6551 1.64012C84.1977 2.12304 84.6279 2.69275 84.9455 3.34892C85.263 4.00542 85.4701 4.70482 85.568 5.44778H82.4739C82.4006 5.06413 82.2753 4.71123 82.0985 4.38907C81.9215 4.06722 81.6958 3.78541 81.4215 3.54395C81.1465 3.30249 80.823 3.11387 80.4508 2.97744C80.0787 2.84134 79.6664 2.77313 79.215 2.77313C78.5928 2.77313 78.0404 2.88778 77.5581 3.11675C77.0758 3.34604 76.6705 3.64931 76.3406 4.02687C76.0111 4.40476 75.7608 4.84125 75.59 5.33634C75.4189 5.83175 75.334 6.34574 75.334 6.87798C75.334 7.44769 75.4221 7.98313 75.5991 8.48463C75.7759 8.98613 76.0385 9.42582 76.3864 9.80338C76.7342 10.1813 77.1553 10.4781 77.6497 10.6949C78.144 10.9117 78.7144 11.02 79.3615 11.02C79.7276 11.02 80.0755 10.9614 80.4054 10.8435C80.7346 10.726 81.0367 10.5649 81.3113 10.3606C81.5859 10.1563 81.8208 9.91483 82.0162 9.63622C82.2112 9.35761 82.3517 9.05754 82.4373 8.73538H85.5863ZM92.3146 11.0292C92.052 11.1471 91.7622 11.2057 91.4446 11.2057C91.1271 11.2057 90.8405 11.1471 90.5842 11.0292C90.3282 10.9117 90.1081 10.7477 89.9251 10.537C89.742 10.3266 89.6015 10.0852 89.504 9.81264C89.4064 9.54043 89.3578 9.24325 89.3578 8.92108C89.3578 8.61173 89.4064 8.31743 89.504 8.03882C89.6015 7.76021 89.742 7.51875 89.9251 7.31444C90.1081 7.11012 90.3282 6.94616 90.5842 6.82222C90.8405 6.69861 91.1271 6.63648 91.4446 6.63648C91.7622 6.63648 92.052 6.69861 92.3146 6.82222C92.5766 6.94616 92.7995 7.11012 92.9825 7.31444C93.1656 7.51875 93.3089 7.76021 93.4128 8.03882C93.5163 8.31743 93.5687 8.61173 93.5687 8.92108C93.5687 9.24325 93.5163 9.54043 93.4128 9.81264C93.3089 10.0852 93.1656 10.3266 92.9825 10.537C92.7995 10.7477 92.5766 10.9117 92.3146 11.0292ZM89.4032 13.2581C90.0074 13.5117 90.6876 13.6389 91.4446 13.6389C92.2135 13.6389 92.9001 13.5117 93.5042 13.2581C94.1084 13.0045 94.621 12.6637 95.0418 12.2365C95.4632 11.8093 95.7868 11.311 96.0125 10.7413C96.2382 10.1716 96.3515 9.56509 96.3515 8.92108C96.3515 8.2774 96.2382 7.67054 96.0125 7.10083C95.7868 6.53145 95.4632 6.03283 95.0418 5.60563C94.621 5.17843 94.1084 4.83801 93.5042 4.58406C92.9001 4.33043 92.2135 4.20329 91.4446 4.20329C90.6876 4.20329 90.0074 4.33043 89.4032 4.58406C88.799 4.83801 88.2864 5.17843 87.8653 5.60563C87.4442 6.03283 87.121 6.53145 86.8953 7.10083C86.669 7.67054 86.5563 8.2774 86.5563 8.92108C86.5563 9.56509 86.669 10.1716 86.8953 10.7413C87.121 11.311 87.4442 11.8093 87.8653 12.2365C88.2864 12.6637 88.799 13.0045 89.4032 13.2581ZM67.9477 8.51105L66.1081 10.3963L69.0336 13.5321H65.5011L64.3237 12.2441C63.4221 13.1776 62.2817 13.7931 60.9016 13.7931C58.3258 13.7931 56.8725 11.9828 56.8725 10.1542C56.8725 8.52994 57.7002 7.57754 59.0982 6.55149L58.9142 6.3459C58.2892 5.65578 57.5525 4.70338 57.5525 3.50888C57.5525 1.25054 59.4297 0 61.2514 0C63.4035 0 64.9859 1.39945 64.9859 3.3968C64.9859 4.72099 64.1046 5.74673 63.1491 6.45542L61.5575 4.7242L61.6374 4.66623C62.1715 4.27426 62.3921 3.82656 62.3921 3.3968C62.3921 2.76272 61.8956 2.27691 61.2514 2.27691C60.6996 2.27691 60.1475 2.6311 60.1475 3.41569C60.1475 3.93832 60.4966 4.36745 60.8097 4.70338L61.1222 5.03995L61.1235 5.03899L62.7239 6.77502L62.7233 6.77534L64.1109 8.2571L62.3483 10.102L60.681 8.2872L60.5891 8.36181C59.9821 8.80983 59.5765 9.27642 59.5765 10.0043C59.5765 10.6951 60.1292 11.367 60.9755 11.367C61.6191 11.367 62.1715 11.0499 62.7046 10.4901L64.4711 8.6417L67.9477 5.03995V8.51105Z" fill="white"/>
          </mask>
        </svg>
        </a>
      </div>

    </div>
  </footer>
</body>
</html>
